/* ================= MODAL EDIT POST ================ */
/* form dentro do modal */
.form-editar {
    background: transparent;
    /* sem fundo extra */
    box-shadow: none;
    padding: 0;
}

.form-editar .form .content {
    border-top: 1px solid var(--branco-light);
}

.form-editar .textfield-editar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

/* conta dígitos*/
.form-editar #char-count {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.form-editar .textfield-editar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.form-editar .textfield-editar textarea {
    flex: 1;
    padding: 1rem 0;
    font-size: 18px;
    border: none;
    min-height: 50px;
    /* altura inicial */
    max-height: 300px;
    /* limite de crescimento */
    resize: none;
    /* impede redimensionamento manual */
    background-color: var(--branco);
}

.form-editar .textfield-editar textarea:focus {
    outline: none;
}

.form-editar .upload-label-editar {
    cursor: pointer;
    color: var(--azul);
    font-weight: 500;
}

.form-editar .upload-label-editar:hover {
    color: var(--azul-apagado);
}

.form-editar .input-file-editar {
    display: none;
}

.form-editar .botao-submit-editar {
    display: flex;
    justify-content: space-between;
}

.form-editar .botao-postar-editar {
    padding: 8px 18px;
    border-radius: 8px;
    background: var(--cor-fundo);
    color: var(--branco);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.form-editar .botao-postar-editar:hover {
    background: var(--cor-tema);
}