body {
    background-color: var(--cor-branco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--cinza);
    margin: 0;
}

/* Container principal ----------------(Denúncia)-------------*/
.denuncia-gerenciamento {
    margin: 2rem auto;
    padding: 0 2rem;
}

.denuncia-inner {
    max-width: 1200px;
    margin: 0 auto;
}

/* título */
.denuncia-title {
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
    border-bottom: 1px solid var(--amarelo);
    width: fit-content;
}

.denuncia-title span {
    color: var(--amarelo);
    font-size: 3rem;
}

/* Card */
.denuncia-gerenciamento .card {
    background-color: var(--branco);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--branco-light);
    padding: .5rem;
    overflow-x: scroll;
}

/* Header do card */
.denuncia-gerenciamento .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    color: var(--preto);
    margin-top: .5rem;
}

.denuncia-gerenciamento .card-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--preto);
}


/* Tabela ----*/
.denuncia-gerenciamento .card-body {
    padding: 0;
}

.denuncia-gerenciamento .table-denuncias {
    width: 100%;
    border-collapse: collapse;
}

.denuncia-gerenciamento .table-denuncias th {
    border-left: .0 solid var(--branco-light);
    padding: 0.5rem;
    font-size: 14px;
    text-align: left;
}

.denuncia-gerenciamento .table-denuncias td {
    padding: 0.25rem;
    font-size: 14px;
    text-align: left;
}

.nada-aqui td {
    padding: 1rem !important;
    font-weight:600 !important;
    color: var(--cinza-borda) !important;
}

.table-denuncias thead {
    background-color: var(--cor-branco);
    color: var(--preto);
}

.table-denuncias .motivo_denuncia {
    font-size: 14px;
}

/* botão filtrar */
.btn-filtrar {
    padding: 0.5rem 1rem;
    border-radius: 50% / 100%;
    background-color: var(--branco);
    transition: .7s;
    color: var(--preto);
    border: 1px solid var(--amarelo);
    cursor: pointer;
}

.btn-filtrar:hover {
    background-color: var(--amarelo);
    color: var(--branco);
}

/* Botão Ações -- denúncias----*/
.table-denuncias .td-acoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.table-denuncias .td-acoes span {
    color: var(--preto);
}

.table-denuncias tr:nth-child(even) {
    background-color: var(--branco);
}

.btn-excluir-usuario,
.btn-desabilitar,
.btn-desbanir,
.btn-visualizar {
    background-color: transparent;
    border: none;
    flex: 1;
    padding: 0.4rem 0.8rem;
}

/* Botão Excluir */
.btn-excluir-usuario span:hover {
    color: var(--vermelho);
}

.btn-desabilitar span:hover {
    color: var(--verde);
}

/* Botão Visualizar*/
.table-denuncias .btn-visualizar span:hover {
    transition: .3s;
    color: var(--azul);
}

/* Botão desbanir */
.btn-desbanir:hover {
    color: var(--azul);
}

.btn-excluir-usuario span,
.btn-desabilitar span,
.btn-desbanir span {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
}

/* ------------------------ Modal Denúncia*/
.modal {
    overflow-y: scroll;
}

.modal-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    width: 90%;
    max-width: 1000px;
    color: var(--preto);
    animation: fadeInModal 0.25s ease;
}

/* Cabeçalho principal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid var(--vermelho);
    padding-bottom: 0.5rem;
}

.modal-header h2 {
    font-size: 1.5rem;
    color: var(--preto);
    margin: 0;
}

.modal-header .titulo {
    font-size: 1rem;
}

/* Botão fechar */
.modal-fechar {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--preto);
    transition: color 0.3s ease;
}

.modal-fechar:hover span {
    color: var(--vermelho);
}

.corpo-visualizar {
    display: flex;
    flex-direction: row;
}

/* Corpo */
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    width: 100%;
    max-height: 60vh;
    overflow-y: scroll;
}

.modal-body img {
    border: 1px solid var(--amarelo);
    border-radius: 50%;
    display: block;
    object-fit: cover;
    margin: 0 auto;
}

.modal-body .conteudo-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-body .conteudo-modal h1 {
    font-size: 1rem;
    font-weight: 600;
}

.modal-body .foto-conteudo-visualizar {
    width: 70%;
    border-radius: 8px;
    border: 1px solid var(--branco-light);
    margin: 0;
    margin: .75rem 0;
}

.modal-body h5 {
    text-align: center;
    color: var(--preto);
    font-size: 15px;
    margin-top: 5px;
}

.form-banimento {
    background-color: var(--branco);
    border-left: 1px solid var(--branco-light);
    padding: 1rem;
    width: 350px;
}

.form-banimento h1 {
    font-size: 16px;
    margin: 1rem 0;
}

/* Campos e formulários */
.form-label {
    font-weight: 600;
    color: var(--preto);
    margin-bottom: 0.4rem;
    display: block;
}

.form-select,
.form-control {
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--branco-light);
    padding: 0.6rem;
    outline: none;
    transition: border-color 0.3s ease;
    background-color: var(--branco);
}

.form-select:focus,
.form-control:focus {
    border-color: var(--amarelo);
}

/* Botões */
.text-end {
    text-align: right;
    margin-top: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.btn.btn-secondary {
    background-color: var(--branco);
    color: var(--preto);
    border: 1px solid var(--amarelo);
}

.btn.btn-secondary:hover {
    background-color: var(--amarelo);
}

.btn.btn-danger {
    background-color: var(--branco);
    border: 1px solid var(--vermelho);
    color: var(--vermelho);
}

.btn.btn-danger:hover {
    background-color: var(--vermelho);
    color: var(--branco);
}

.modal-footer {
    padding: 1rem 0;
    width: 100%;
    border-top: 1px solid var(--vermelho);
}

/* Animação */
@keyframes fadeInModal {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}