:root {
    --cor-tema: #048ABF;
    --cor-fundo: #262626;
    --cor-branco: #D0D6D9;
    --cor-preto: #000000;
    --cor-vermelho: #F22222;

    --preto: #0D0D0D;
    --cinza: #404040;
    --branco: #F2F2F2;
    --branco-light: #ccc;
    --azul: #1d3e55;
    --verde: #03A64A;
    --vermelho: #F26D6D;

    --texto-pequeno: .75rem;
    --texto-padrao: 1rem;
    --texto-secundario: 1.4rem;
    --texto-titulo: 2.5rem;

    /* cores para tema
    antiga(ciano) - #017373*
    azul claro - #048ABF/
    */
}

body {
    background-color: var(--cor-fundo);
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav-header {
    background-color: var(--cor-preto);
    height: 80px;
}

.container-nav {
    width: 90%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-nav .logo {
    color: var(--cor-branco);
    font-size: var(--texto-titulo);
}

.container-nav .nav-list {
    color: var(--cor-branco);
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
}

.container-nav .nav-list li {
    margin: 0 15px;
}

.container-nav .nav-list li a {
    cursor: pointer;
    transition: .7s ease-in-out;
}

.container-nav .nav-list li a:hover {
    color: var(--cor-tema);
}

.container {
    display: flex;
    flex-direction: row;
}

.container-menu {
    background-color: var(--cor-tema);
    height: auto;
    width: 289px;
}

.container-menu .dados-usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-menu  .opcoes-admin {
    margin-top: 50px;
}

.container-conteudo {
    background-color: var(--cor-branco);
    width: 100%;
}