:root {
    --cor-tema: #048ABF;
    --cor-fundo: #262626;
    --branco: #D0D6D9;
    --cor-preto: #000000;
    --cor-vermelho: #F22222;

    --preto: #0D0D0D;
    --cinza: #404040;
    --branco: #F2F2F2;
    --branco-light: #ccc;
    --azul: #1d3e55;
    --verde: #03A64A;
    --cor-verde: #1dc967;
    --vermelho: #F26D6D;
    --roxo: #4B1C8C;
    --laranja: #D92B04;
    --amarelo: #F2B705;

    --border-radius: 8px;
    --padding-card: 1.5rem;
}

body {
    background-color: var(--cor-branco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--cinza);
    margin: 0;
}

/* Container principal ----------------(Usuário)-------------*/
.usuario-gerenciamento {
    margin: 2rem auto;
    padding: 0 2rem;
}

.usuario-inner {
    max-width: 1200px;
    margin: 0 auto;
}

/* título */
.usuario-title {
    display: flex;
    color: var(--preto);
}

.usuario-title span {
    font-size: 3rem;
}

/* Card */
.usuario-gerenciamento .card {
    background-color: var(--branco);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-x: scroll;
}

/* Header do card */
.usuario-gerenciamento .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-fundo);
}

.usuario-gerenciamento .card-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--branco);
}

/* Botão Novo */
.usuario-gerenciamento .btn-novo {
    background-color: var(--cor-fundo);
    color: var(--branco);
    padding: .75rem;
    border: .05rem solid var(--branco-light);
    border-radius: 50px / 100%;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.7s;
}

.usuario-gerenciamento .btn-novo:hover {
    background-color: var(--cor-tema);
}

/* Tabela */
.usuario-gerenciamento .card-body {
    padding: 0;
}

.usuario-gerenciamento .table-usuarios {
    width: 100%;
    border-collapse: collapse;
}

.usuario-gerenciamento .table-usuarios th {
    border-left: .0 solid var(--branco-light);
    padding: 0.5rem;
    font-size: .8rem;
    text-align: left;
}

.usuario-gerenciamento .table-usuarios td {
    border-top: 1px solid var(--branco-light);
    padding: 0.25rem;
    font-size: .8rem;
    text-align: left;
}

/* Topo tabela*/
.usuario-gerenciamento .card-header {
    background-color: var(--cor-fundo);
}

.table-usuarios thead {
    background-color: var(--cor-fundo);
    color: var(--branco);
}

.table-usuarios .motivo_denuncia {
    font-size: .8rem;
}

/* Cor texto*/
.table-usuarios td .red-text {
    color: var(--cor-vermelho);
}

.table-usuarios td .purple-text {
    color: var(--roxo);
}

.table-usuarios td .yellow-text {
    color: var(--amarelo);
}

.table-usuarios td .orange-text {
    color: var(--laranja);
}

.table-usuarios td .black-text {
    color: var(--cor-preto);
}

.table-usuarios .button-open-data {
    display: flex;
    padding: 0;
    flex-direction: row-reverse;
}

.table-usuarios .img-icons {
    width: 25px;
}

/* Botão Ações*/
.table-usuarios .td-acoes {
    display: flex;
    flex-direction: row;
}


.table-usuarios .td-acoes span {
    color: var(--preto);
}

.table-usuarios tr:nth-child(even) {
    background-color: var(--branco-light);
}

.btn-excluir-usuario,
.btn-desabilitar,
.btn-desbanir,
.btn-visualizar {
    background-color: transparent;
    border: none;
    flex: 1;
    padding: 0.4rem 0.8rem;
}

/* Botão Excluir */
.btn-excluir-usuario span:hover {
    color: var(--cor-vermelho);
}

.btn-desabilitar span:hover {
    color: var(--verde);
}

/* Botão Visualizar*/
.table-usuarios .btn-visualizar span:hover {
    transition: .3s;
    color: var(--cor-tema);
}

/* Botão desbanir */
.btn-desbanir:hover {
    color: var(--azul);
}

.btn-excluir-usuario span,
.btn-desabilitar span,
.btn-desbanir span {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
}

/* Filtros */
.filtro-form {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: .5rem;
}

.filtro-form input,
.filtro-form select {
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn-filtrar {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: var(--cor-fundo);
    transition: .7s;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-filtrar:hover {
    background-color: var(--cor-tema);
}

/* ------------------------ Modal Denúncia*/

/* Responsividade */
@media (max-width: 768px) {
    .filtro-form {
        flex-direction: column;
    }

    .table-usuarios th,
    .table-usuarios td {
        font-size: 0.85rem;
        padding: 0.4rem 0.8rem;
    }
}


/* ================= PAGINAÇÃO ================= */
.paginacao {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
    flex-wrap: wrap;
}

.paginacao ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 5px;
}

.paginacao li {
    display: inline-block;
}

.paginacao li a,
.paginacao li span {
    display: block;
    padding: 8px 14px;
    border-radius: 8px;
    text-decoration: none;
    color: var(--preto);
    background-color: var(--branco);
    border: 1px solid var(--cor-tema-apagado);
    transition: all 0.25s ease;
    font-weight: 500;
}

.paginacao li a:hover {
    background-color: var(--cor-tema);
    border-color: var(--cor-tema);
    color: var(--branco);
}

.paginacao li span {
    background-color: var(--cor-tema);
    border-color: var(--cor-tema);
    font-weight: 700;
}

/* Desativado */
.paginacao li.disabled span {
    opacity: 0.5;
    cursor: not-allowed;
}