body {
    background-color: var(--cor-branco);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--cinza);
    margin: 0;
}

/* Container principal ----------------(Usuário)-------------*/
.usuario-gerenciamento {
    margin: 2rem auto;
    padding: 0 2rem;
}

.usuario-inner {
    max-width: 1400px;
    margin: 0 auto;
}

/* título */
.usuario-title {
    display: flex;
    margin: 1rem 0;
    gap: 1rem;
    border-bottom: 1px solid var(--verde);
    width: fit-content;
}

.usuario-title span {
    color: var(--verde);
    font-size: 3rem;
}

/* Card */
.usuario-gerenciamento .card {
    background-color: var(--branco);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--branco-light);
    padding: .5rem;
    overflow-x: scroll;
}

/* Header do card */
.usuario-gerenciamento .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--branco);
    color: var(--preto);
}

.usuario-gerenciamento .card-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: var(--preto);
}

/* Botão Novo */
.usuario-gerenciamento .btn-novo {
    background-color: var(--branco);
    color: var(--verde);
    padding: .75rem;
    border: .05rem solid var(--verde);
    border-radius: 50px / 100%;
    text-decoration: none;
    transition: background 0.7s;
    margin: 0 0 5px 0;
}

.usuario-gerenciamento .btn-novo:hover {
    background-color: var(--verde);
    color: var(--branco);
}

/* Tabela ---*/
.usuario-gerenciamento .card-body {
    padding: 0;
}

.usuario-gerenciamento .table-usuarios {
    width: 100%;
    border-collapse: collapse;
}

.usuario-gerenciamento .table-usuarios th {
    border-left: .0 solid var(--branco-light);
    padding: 0.5rem;
    font-size: .8rem;
    text-align: left;
}

.usuario-gerenciamento .table-usuarios td {
    padding: 0.25rem;
    font-size: .8rem;
    text-align: left;
}

/* disposição de itens*/
.table-usuarios thead {
    background-color: var(--cor-branco);
    color: var(--preto);
}

/* Cor texto*/
.table-usuarios td .red-text {
    color: var(--vermelho);
}

.table-usuarios td .purple-text {
    color: var(--roxo);
}

.table-usuarios td .yellow-text {
    color: var(--amarelo);
}

.table-usuarios td .orange-text {
    color: var(--azul);
}

.table-usuarios td .black-text {
    color: var(--cor-preto);
}

.table-usuarios .button-open-data {
    display: flex;
    padding: 0;
}

.table-usuarios .img-icons {
    width: 25px;
}

/* Botão Ações --usuario*/
.table-usuarios .td-acoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.table-usuarios .td-acoes span {
    color: var(--preto);
}

.table-usuarios tr:nth-child(even) {
    background-color: var(--cor-branco);
}

.btn-excluir-usuario,
.btn-desabilitar,
.btn-desbanir,
.btn-visualizar {
    background-color: transparent;
    border: none;
    flex: 1;
    padding: 0.4rem 0.8rem;
}

/* Botão Excluir */
.btn-excluir-usuario span:hover {
    color: var(--vermelho);
}

.btn-desabilitar span:hover {
    color: var(--verde);
}

/* Botão Visualizar*/
.table-usuarios .btn-visualizar span:hover {
    transition: .3s;
    color: var(--azul);
}

/* Botão desbanir */
.btn-desbanir:hover {
    color: var(--azul);
}

.btn-excluir-usuario span,
.btn-desabilitar span,
.btn-desbanir span {
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
}

/* botão filtrar */
.btn-filtrar {
    padding: 0.5rem 1rem;
    border-radius: 50% / 100%;
    background-color: var(--branco);
    transition: .7s;
    color: var(--verde);
    border: 1px solid var(--verde);
    cursor: pointer;
}

.btn-filtrar:hover {
    background-color: var(--verde);
    color: var(--branco);
}

/* ------------------------ Modal Usuario---------------------------------------------*/
.modal {
    overflow-y: scroll;
}

.modal-content {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0 .5rem 0;
    max-width: 700px !important;
    color: var(--preto);
    animation: fadeInModal 0.25s ease;
    max-height: 80vh;
    width: 90% !important;
}

/* Cabeçalho principal */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--cinza-font);
    padding: 0.5em 2rem;
}

.modal-header .titulo {
    display: flex;
    font-size: 20px;
    font-weight: 600;
    color: var(--preto);
}

.modal-header .sublinhado {
    text-decoration: underline;
    margin: 0 4px;
}

.modal-header .red {
    color: var(--azul);
}

.modal-header .blue {
    color: var(--azul);
}


/* Botão fechar */
.modal-fechar {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--preto);
    transition: color 0.3s ease;
}

.modal-fechar:hover span {
    color: var(--vermelho);
}

.text-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

.corpo-visualizar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.foto-denunciado {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: none;
    border: 1px solid var(--azul) !important;
}

.ao-lado-foto {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}

.ao-lado-foto h6 {
    font-size: 30px;
    font-weight: 600;
    color: var(--preto);
}

.ao-lado-foto p {
    font-size: 20px;
    font-weight: 500;
    color: #666;
}

/* status user*/
.status-user p {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 18px;
}

.status-user .vermelho {
    color: var(--vermelho);
}

.status-user .verde {
    color: var(--verde);
}

/* TABS ---------------------------------------------------------------------*/
.tabs {
    display: flex;
    border-bottom: 1px solid var(--branco-light);
    margin-bottom: 1rem;
}

.tab {
    flex: 1;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    background: var(--branco);
    border: none;
    border-bottom: 1px solid var(--branco);
    font-weight: 600;
    font-size: 18px;
    transition: .3s;
}

.tab:hover {
    background: var(--cinza-font);
}

.tab.active {
    color: var(--azul);
    border-bottom: 1px solid var(--azul);
}

/* CONTEÚDO */
.tab-content {
    width: 100%;
    padding: 0 0 0 2rem;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

/* Botão de banir */
.btn-banir {
    margin-top: 1rem;
    background: var(--vermelho);
    border: none;
    border: 1px solid var(--vermelho);
    padding: .7rem 1rem;
    border-radius: 50px / 100%;
    font-weight: 600;
    color: var(--branco);
    cursor: pointer;
    transition: .3s;
}

.btn-banir:hover {
    background-color: var(--vermelho-apagado);
    color: var(--branco)
}

/* Botão de desbanir */
.bottom-desbanir {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: .5rem 5rem;
}

.btn-desbanir-usuario {
    margin-top: 1rem;
    width: fit-content;
    background: var(--verde);
    border: none;
    border: 1px solid var(--verde);
    padding: .7rem 1rem;
    border-radius: 50px / 100%;
    font-weight: 600;
    color: var(--branco);
    cursor: pointer;
    transition: .3s;
}

.btn-desbanir-usuario:hover {
    background-color: var(--verde-apagado);
    color: var(--branco);
}

.ban-title {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.ban-title .verde {
    margin: 0 4px;
    text-decoration: underline;
    color: var(--verde);
}

/* Corpo */
.modal-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
    width: 100%;
    max-height: 60vh;
    overflow-y: scroll;
}

.modal-body img {
    border: 1px solid var(--amarelo);
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.modal-body .conteudo-modal {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.modal-body .conteudo-modal h1 {
    font-size: 1rem;
    font-weight: 600;
}

.modal-body .foto-conteudo-visualizar {
    width: 70%;
    border-radius: 8px;
    border: 1px solid var(--branco-light);
    margin: 0;
    margin: .75rem 0;
}

.modal-body h5 {
    text-align: center;
    color: var(--preto);
    font-size: 15px;
    margin-top: 5px;
}

.form-banimento {
    background-color: var(--branco);
    padding-right: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}

.form-banimento h1 {
    font-size: 16px;
    margin: 1rem 0;
}

/* Campos e formulários */
.form-label {
    font-weight: 500;
    color: #666;
    margin: .75rem 0 .5rem 0;
    font-size: 18px;
    display: block;
}

.form-select,
.form-control {
    width: 95%;
    border-radius: 8px;
    border: 1px solid var(--branco-light);
    padding: 0.6rem;
    outline: none;
    resize: none;
    transition: border-color 0.3s ease;
    background-color: var(--branco);
}


.form-select:hover,
.form-control:hover {
    border-color: var(--vermelho-apagado);
}

.form-select:focus,
.form-control:focus {
    border-color: var(--vermelho);
}

/* Botões */
.text-end {
    text-align: right;
    margin-top: 1rem;
}

.btn {
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.btn.btn-secondary {
    background-color: var(--branco);
    color: var(--preto);
    border: 1px solid var(--amarelo);
}

.btn.btn-secondary:hover {
    background-color: var(--amarelo);
}

.btn.btn-danger {
    background-color: var(--branco);
    border: 1px solid var(--vermelho);
    color: var(--vermelho);
}

.btn.btn-danger:hover {
    background-color: var(--vermelho);
    color: var(--branco);
}

.modal-footer {
    display: flex;
    justify-content: end;
    padding: 1rem 2rem;
    width: 100%;
    border-top: 1px solid var(--cinza-font);
}


/* Detalhes */
.corpo-visualizar .detalhes-container {
    background: var(--branco);
    border-radius: 10px;
    margin: .5rem 0;
    border: none;
}

/* Título */
.corpo-visualizar .detalhes-container h1 {
    font-size: 24px;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--preto);
}

.corpo-visualizar .detalhes-container p {
    display: flex;
    gap: .5rem;
    margin: .35rem 0;
    font-size: 15px;
}

.corpo-visualizar .detalhes-container .dados-usuario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.corpo-visualizar .detalhes-container p {
    color: var(--preto);
    font-size: 20px;
}

.corpo-visualizar .detalhes-container .titulo-info {
    color: #333;
    font-size: 18px;
}

.corpo-visualizar .detalhes-container hr {
    border: none;
    border-top: 1px solid var(--branco-light);
    margin-right: 2rem;
}

.sem-contatos {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.sem-contatos p {
    color: #666 !important;
    font-size: 20px !important;
}

/* parte desbanir */
.content-desbanir {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 0 3rem;
}

.content-desbanir span {
    font-size: 150px;
    color: var(--verde);
}

.content-desbanir h3 {
    font-size: 24px;
    color: var(--preto);
    font-weight: 600;
}

.content-desbanir p {
    font-size: 20px;
    color: var(--preto);
    text-align: center;
}

.content-desbanir .email-user {
    color: var(--azul);
    font-size: 20px;
}


/* Animação */
@keyframes fadeInModal {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}