/* info perfil */
.container-read .topo .info-perfil {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.container-read .topo .info-perfil a {
    text-decoration: none;
    transition: 0.3s;
    text-decoration-color: var(--cor-preto);
}

.container-read .topo .info-perfil a:hover {
    text-decoration-line: underline;
    text-decoration-color: var(--cor-preto);
}

/* nome user */
.container-read .topo .info-perfil h1 {
    font-size: 15px;
    color: var(--cor-preto);
    margin-right: 10px;
}

/* descricao e data */
.container-read .topo .info-perfil h2 {
    font-size: 15px;
    color: var(--cinza);
}

/* opcoes perfil */
.container-read .topo .opcoes-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.container-read .menu-opcoes {
    font-size: 1.5rem;
    color: var(--cinza);
    cursor: pointer;
    padding: .3rem .3rem;
    border-radius: 50%;
    transition: background .2s;
    display: flex;
    align-items: center;
    border: none;
}

.container-read .menu-opcoes:hover {
    background-color: var(--branco-light);
}

/* container do dropdown */
.container-read .dropdown {
    position: relative;
    display: inline-block;
}

/* conteúdo do dropdown (inicialmente escondido) -------------------------------+ */
.container-read .dropdown .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--branco);
    width: 275px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 0;
}

/* cada item do dropdown */
.container-read .dropdown .dropdown-content li {
    list-style: none;
}

.container-read .dropdown .dropdown-content img {
    width: 20px;
    margin-right: 10px;
}