:root {
    --cor-tema: #048ABF;
    --cor-fundo: #262626;
    --cor-branco: #D0D6D9;
    --cor-preto: #000000;
    --cor-vermelho: #F22222;

    --preto: #0D0D0D;
    --cinza: #404040;
    --cinza-texto: #888686;
    --cinza-borda: #2f3336;
    --branco: #F2F2F2;
    --branco-light: #ccc;
    --azul: #1d3e55;
    --verde: #03A64A;
    --vermelho: #F26D6D;

    --texto-pequeno: .75rem;
    --texto-padrao: 1rem;
    --texto-secundario: 1.1rem;
    --texto-titulo: 1.4rem;
}

/* topo -----------------------------------------------------------*/
.container-read .topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0 0 1rem;
}

.container-read .topo .voltar {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.container-read .topo .voltar span {
    font-size: 1.5rem;
    color: var(--preto);
    padding: .5rem;
    border-radius: 50%;
    transition: .3s;
}

.container-read .topo .voltar span:hover {
    background-color: var(--cinza-texto);
}

.container-read .topo .text h1 {
    margin-left: 1rem;
    font-size: 24px;
    font-weight: 600;
    color: var(--preto);
}

/* informações do usuário da postagem */
.container-read .info-conta {
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .75rem 1rem;
    font-size: var(--texto-pequeno);
    color: var(--branco-light);
}

/* bloco topo da postagem ----------------------------------------------------------------------------------*/
.container-read .postagem-foco {
    background-color: var(--branco);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.container-read .foto-perfil {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.container-read .foto-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.container-read .foto-perfil a {
    text-decoration: none;
}

.container-read .foto-perfil h1 {
    font-size: 15px;
    font-weight: 600;
    color: var(--preto);
}

.container-read .foto-perfil h2 {
    font-size: 15px;
    font-weight: 500;
    color: var(--cinza-texto);
}


/* opcoes perfil ---------------------------------------------------------- */
.container-read .topo .opcoes-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.container-read .menu-opcoes {
    font-size: 1.5rem;
    color: var(--cinza);
    cursor: pointer;
    padding: .3rem .3rem;
    border-radius: 50%;
    transition: background .2s;
    display: flex;
    align-items: center;
    border: none;
}

.container-read .menu-opcoes:hover {
    background-color: var(--branco-light);
}

/* container do dropdown */
.container-read .dropdown {
    position: relative;
    display: inline-block;
}

.container-read .dropdown .menu-opcoes img {
    width: 25px;
}

.container-read .dropdown .menu-opcoes img:hover {
    background-color: var(--branco-light);
}

/* conteúdo do dropdown (inicialmente escondido) -------------------------------+ */
.container-read .dropdown .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--branco);
    width: 275px;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 999;
    padding: 0;
}

/* cada item do dropdown */
.container-read .dropdown .dropdown-content li {
    list-style: none;
}

.container-read .dropdown .dropdown-content img {
    width: 20px;
    margin-right: 10px;
}

.container-read .dropdown .dropdown-content li a {
    display: block;
    padding: 1rem;
    font-weight: 600;
    color: var(--preto);
    text-decoration: none;
    transition: .2s;
}

.container-read .dropdown .dropdown-content li a:hover {
    background-color: var(--cinza-font);
}

.container-read .seguir-btn {
    display: flex;
    gap: 1rem;
    font-size: 15px;
    font-weight: 600;
    padding: 1rem;
    width: 100%;
    border: none;
    border-radius: 0 0 15px 15px;
    color: var(--preto);
    cursor: pointer;
    transition: .3s;
    text-align: start;
}

.container-read .seguir-btn:hover {
    background-color: var(--branco-light);
}

.container-read .dropdown .dropdown-content {
    display: none;
}

.container-read .dropdown.ativo .dropdown-content {
    display: block;
}

/* postagem ----------------------------------------------------------------------------------------------*/
/* texto da postagem */
.container-read p {
    font-size: 18px;
    color: var(--preto);
    line-height: 1.5;
    text-indent: 1px;
    padding: 0 .5rem;
}

/* imagem da postagem */
.container-read .image {
    padding: 0 1rem;
}

.container-read .image img {
    max-width: 100%;
    border-radius: 12px;
    margin-top: .75rem;
    border: 1px solid var(--branco-light);
}

/* texto dados */
.container-read .dados {
    padding: 1rem 0;
}

.container-read .dados h3 {
    font-size: 14px;
    color: var(--cinza);
    font-weight: 400;
}

/* interações------------------------------------------------*/
.interacoes {
    margin-top: .75rem;
    font-size: var(--texto-pequeno);
    color: var(--cinza);
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 0rem 1rem;
}

.interacoes .corpo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid var(--branco-light);
    border-bottom: 1px solid var(--branco-light);
    padding: .5rem 0rem;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.interacoes .button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.interacoes .button a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.interacoes span {
    font-size: 20px;
    padding: .5rem;
    color: var(--cinza);
    border-radius: 50%;
    transition: .3s;
}

/* curtido ou normal*/
.interacoes .normal span {
    color: var(--cinza);
}

.interacoes .curtido span {
    color: var(--cor-vermelho);
}

.interacoes h1 {
    font-size: 14px;
    color: var(--cinza);
    transition: .3s;
}

/* comentar */
.btn-comentar:hover h1 {
    color: var(--cor-tema);
}

.btn-comentar:hover span {
    background-color: rgba(208, 219, 231, 0.95);
    color: var(--cor-tema);
}

/* curtir */
.btn-curtir:hover h1 {
    color: var(--cor-vermelho);
}

.btn-curtir:hover span {
    background-color: rgba(242, 34, 34, 0.50);
    color: var(--cor-vermelho);
}



/* formulário de comentário ------------------------------------------*/
.form-comentario {
    padding: 1rem;
}

.form-comentario form {
    display: flex;
    flex-direction: column;
}

.form-comentario form .foto-perfil img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.form-comentario textarea {
    width: 100%;
    padding: .75rem;
    margin-bottom: .5rem;
    border-radius: 12px;
    background: transparent;
    border: none;
    resize: none;
    color: var(--preto);
    font-size: 15px;
}

.form-comentario textarea:focus {
    outline: none;
}

/* label customizada */
.form-comentario form img {
    width: 20px;
}

.form-comentario form img:hover {
    transform: scale(1.05);
}

.form-comentario form .upload-label {
    cursor: pointer;
    color: var(--cor-tema);
    font-weight: bold;
    font-size: var(--texto-padrao);
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: color .2s;
}

.form-comentario form .upload-label:hover {
    color: var(--azul);
}

/* esconder input file padrão */
.form-comentario form .input-file {
    display: none;
}

.form-comentario form .contador {
    font-size: 16px;
    color: var(--cinza);
    align-self: center;
    margin-left: auto;
    /* joga pro lado direito */
    margin-right: 1rem;
}

/* botão */
.form-comentario form .botao-submit {
    display: flex;
    flex-direction: column-reverse;
}

.form-comentario form .botao-postar {
    align-self: flex-end;
    background-color: var(--preto);
    color: var(--branco);
    font-size: 14px;
    font-weight: bold;
    padding: .3rem 1.5rem;
    border: none;
    border-radius: 25% / 100%;
    cursor: pointer;
    transition: background-color .2s, transform .1s;
}

.form-comentario form .botao-postar:hover {
    background-color: var(--cor-tema);
    transform: scale(1.03);
}

/* comentários ---------------------------------------------------------------------------------------*/
.comentarios {
    background-color: var(--branco);
}

.comentario {
    border-top: 1px solid var(--cinza-borda);
    padding: .75rem 1rem;
    font-size: var(--texto-padrao);
    color: var(--preto);
    display: flex;
    flex-direction: row;
}

/* foto */
.comentario .foto-comentario {
    display: flex;
    align-items: flex-start;
}

.comentario .foto-comentario img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.comentario .dados {
    width: 100%;
    padding: 1rem;
}

.comentario strong {
    font-weight: 700;
    color: var(--preto);
}

/* comentário ------------------------------------------*/
.interacoes-comentarios {
    margin-top: .75rem;
    font-size: var(--texto-pequeno);
    color: var(--cinza);
    margin: auto;
    display: flex;
    flex-direction: row;
}

.interacoes-comentarios .corpo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: .5rem 0rem;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.interacoes-comentarios .button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.interacoes-comentarios .button a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.interacoes-comentarios span {
    font-size: 20px;
    padding: .5rem;
    color: var(--cinza);
    border-radius: 50%;
    transition: .3s;
}

/* curtido ou normal*/
.interacoes-comentarios .normal span {
    color: var(--cinza);
}

.interacoes-comentarios .curtido span {
    color: var(--cor-vermelho);
}

.interacoes-comentarios h1 {
    font-size: 14px;
    color: var(--cinza);
    transition: .3s;
}

/* comentar */
.btn-comentar:hover h1 {
    color: var(--cor-tema);
}

.btn-comentar:hover span {
    background-color: rgba(208, 219, 231, 0.95);
    color: var(--cor-tema);
}

/* curtir */
.btn-curtir:hover h1 {
    color: var(--cor-vermelho);
}

.btn-curtir:hover span {
    background-color: rgba(242, 34, 34, 0.50);
    color: var(--cor-vermelho);
}

/*adicionais ---------------------------------------------*/
.hashtag {
    position: relative;
    /* cria um novo contexto de empilhamento */
    z-index: 1;
    /* fica acima do overlay */
    color: var(--cor-tema);
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.hashtag:hover {
    color: var(--cor-tema-apagado);
    text-decoration: underline;
}

/* Força o dropdown a ficar sempre acima de qualquer outro conteúdo do post */
.container-read .dropdown {
    position: relative;
    z-index: 2000;
}

.container-read .dropdown .dropdown-content {
    position: absolute;
    right: 0;
    z-index: 9999 !important;
}