/* topo -----------------------------------------------------------*/
.container-read .topo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0 0 1rem;
}

.container-read .topo .voltar {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.container-read .topo .voltar span {
    font-size: 1.5rem;
    color: var(--preto);
    padding: .5rem;
    border-radius: 50%;
    transition: .3s;
}

.container-read .topo .voltar span:hover {
    background-color: var(--cinza-texto);
}

.container-read .topo .text h1 {
    margin-left: 1rem;
    font-size: 24px;
    font-weight: 600;
    color: var(--preto);
}

/* informações do usuário da postagem */
.container-read .info-conta {
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: .75rem 1rem;
    font-size: 12px;
    color: var(--branco-light);
}

/* bloco topo da postagem ----------------------------------------------------------------------------------*/
.container-read .postagem-foco {
    position: relative;
    max-width: 100%;
    background-color: var(--branco);
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-read .foto-perfil {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.container-read .foto-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.container-read .foto-perfil a {
    text-decoration: none;
}

.container-read .foto-perfil h1 {
    font-size: 15px;
    font-weight: 600;
    color: var(--preto);
}

.container-read .foto-perfil h2 {
    font-size: 15px;
    font-weight: 500;
    color: var(--cinza);
}


/* opcoes perfil ---------------------------------------------------------- */
.container-read .topo .opcoes-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.container-read .menu-opcoes {
    font-size: 1.5rem;
    color: var(--cinza);
    cursor: pointer;
    padding: .3rem .3rem;
    border-radius: 50%;
    transition: background .2s;
    display: flex;
    align-items: center;
    border: none;
}

.container-read .menu-opcoes:hover {
    background-color: var(--branco-light);
}

/* container do dropdown */
.container-read .dropdown {
    position: relative;
    display: inline-block;
}

.container-read .dropdown .menu-opcoes img {
    width: 25px;
}

.container-read .dropdown .menu-opcoes img:hover {
    background-color: var(--branco-light);
}

/* conteúdo do dropdown (inicialmente escondido) -------------------------------+ */
.container-read .dropdown .dropdown-content li {
    list-style: none;
}

.container-read .dropdown .dropdown-content img {
    width: 20px;
    margin-right: 10px;
}

.container-read .dropdown .dropdown-content {
    display: none;
}

.container-read .dropdown.ativo .dropdown-content {
    display: block;
}

/* postagem ----------------------------------------------------------------------------------------------*/
/* texto da postagem */
.container-read p {
    font-size: 18px;
    color: var(--preto);
    line-height: 1.5;
    text-indent: 1px;
    padding: 0 .5rem;
}

/* imagem da postagem */
.container-read .image {
    padding: 0 1rem;
}

.container-read .image img {
    max-width: 100%;
    border-radius: 12px;
    margin-top: .75rem;
    border: 1px solid var(--branco-light);
}

/* texto dados */
.container-read .dados {
    padding: 1rem 0;
}

.container-read .dados h3 {
    font-size: 14px;
    color: var(--cinza);
    font-weight: 400;
}

/* interações------------------------------------------------*/
.interacoes {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: var(--cinza);
    gap: 2rem;
    padding: 1rem;
}

.interacoes .corpo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid var(--branco-light);
    border-bottom: 1px solid var(--branco-light);
    padding: .5rem 0rem;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.interacoes .button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.interacoes .button a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.interacoes span {
    font-size: 20px;
    padding: .5rem;
    color: var(--cinza);
    border-radius: 50%;
    transition: .3s;
}

/* curtido ou normal*/
.interacoes .normal span {
    color: var(--cinza);
}

.interacoes .curtido span {
    color: var(--vermelho);
}

.interacoes h1 {
    font-size: 14px;
    color: var(--cinza);
    transition: .3s;
} 

/*------------------------------------------------------------------------------- comentários --------------------------------------------------------------------------------------------------------------------------------------------------------*/
.comentario-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.comentario-overlay:hover {
    background-color: 0, 0, rgba(0, 0, 0, 0.08);
}

.comentarios {
    background-color: var(--branco);
}

.comentario {
    position: relative;
    border-top: 1px solid var(--branco-light);
    padding: .5rem 1rem;
    font-size: 14px;
    color: var(--preto);
    display: flex;
    width: 100%;
    flex-direction: row;
}

/* foto */
.comentario .foto-comentario {
    display: flex;
    align-items: flex-start;
}

.comentario .foto-comentario img,
.foto-user-padrao {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--azul);
    object-fit: cover;
}

.comentario .dados {
    width: 100%;
    padding: 0 1rem;
}

.dados img {
    max-width: 100%;
    border-radius: 12px;
    margin-top: .75rem;
    border: 1px solid var(--branco-light);
}

.comentario strong {
    font-weight: 700;
    color: var(--preto);
}

/* comentário ------------------------------------------*/
.interacoes-comentarios {
    margin-top: .25rem;
    font-size: 12px;
    color: var(--cinza);
    margin: auto;
    display: flex;
    flex-direction: row;
}

.interacoes-comentarios .corpo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.interacoes-comentarios .button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.interacoes-comentarios .button a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.interacoes-comentarios span {
    font-size: 20px;
    padding: .5rem;
    color: var(--cinza);
    border-radius: 50%;
    transition: .3s;
}

/* curtido ou normal*/
.interacoes-comentarios .normal span {
    color: var(--cinza);
}

.interacoes-comentarios .curtido span {
    color: var(--vermelho);
}

.interacoes-comentarios h1 {
    font-size: 14px;
    color: var(--cinza);
    transition: .3s;
}

/* comentar */
.btn-comentar:hover h1 {
    color: var(--azul);
}

.btn-comentar:hover span {
    background-color: var(--branco);
    color: var(--azul);
}

/* curtir */
.btn-curtir:hover h1 {
    color: var(--vermelho);
}

.btn-curtir:hover span {
    background-color: var(--vermelho-apagado);
    color: var(--vermelho);
}

/*comentário conteúdo ---------------------------------------------*/
.corpo-content .coment-perfil {
    margin: .5rem 0;
}

.corpo-content .coment-perfil p {
    font-size: 14px;
    color: var(--preto);
}

.corpo-content .image-post img {
    max-width: 100%;
    border-radius: 12px;
    margin-top: .75rem;
    border: 1px solid var(--branco-light);
}

/*adicionais ---------------------------------------------*/
.hashtag {
    position: relative;
    /* cria um novo contexto de empilhamento */
    z-index: 1;
    /* fica acima do overlay */
    color: var(--azul);
}

.hashtag:hover {
    color: var(--azul-apagado);
    text-decoration: underline;
}

/* Força o dropdown a ficar sempre acima de qualquer outro conteúdo do post */
.container-read .dropdown {
    position: relative;
    z-index: 2000;
}

.container-read .dropdown .dropdown-content {
    position: absolute;
    right: 0;
    z-index: 9999 !important;
}

/* Overlay postagem focus */
.container-read .comentario-overlay,
.container-read button,
.container-read form,
.container-read .dropdown,
.container-read a {
    z-index: 1;
}

/* Overlay comentários */
.comentario .comentario-overlay,
.comentario button,
.comentario form,
.comentario .dropdown,
.comentario a {
    z-index: 1;
}

/* Overlay comentários */
.comentario .dropdown{
    z-index: 2;
}

/* repetição */
.textfield textarea {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    padding: 1rem;
    font-size: 18px;
    font-family: inherit;
    color: var(--preto);
    caret-color: var(--preto);
    resize: none;
    overflow-y: hidden;
}

.container-read .dropdown .dropdown-content button{
    z-index: 1 !important;
}