:root {
    --cor-tema: #048ABF;
    --cor-fundo: #262626;
    --cor-branco: #D0D6D9;
    --cor-preto: #000000;
    --cor-vermelho: #F22222;

    --preto: #0D0D0D;
    --cinza: #404040;
    --branco: #F2F2F2;
    --branco-light: #ccc;
    --azul: #1d3e55;
    --verde: #03A64A;
    --vermelho: #F26D6D;

    --texto-pequeno: .75rem;
    --texto-padrao: 1rem;
    --texto-secundario: 1.4rem;
    --texto-titulo: 2.5rem;
}

/* Container geral */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: var(--branco);
    width: 100%;
}

/* botão voltar */
.login-container .voltar {
    width: 25px;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.login-container .voltar img {
    cursor: pointer;
    width: 100%;
    transition: .7s;
    border-radius: 50%;
}

.login-container .voltar img:hover {
    transform: scale(1.25);
}

/* Formulário div*/
.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.login-content .logo{
    position: absolute;
    width: 230px;
    top: 0.7rem;
    left: 38rem;
}

.login-content .logo-esqueceu{
    position: absolute;
    width: 230px;
    top: 4rem;
    left: 38rem;
}

/* Formulário */
.login-form {
    background: var(--branco);
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

/* Título */
.login-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--cor-tema);
}

/* Grupos do formulário */
.form-group {
    margin-bottom: 1rem;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px; /* espaço pro ícone não sobrepor o texto */
  box-sizing: border-box;
}

.password-wrapper img {
  position: absolute;
  right: 10px;   /* distância da borda direita */
  top: 50%;
  transform: translateY(-50%); /* centraliza verticalmente */
  width: 25px;
  cursor: pointer;
}

/* Labels */
.form-group label {
    font-weight: bold;
    color: #808080;
    display: block;
    margin-bottom: 0.3rem;
    margin-top: 0.5rem;
}

/* Inputs */
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
    width: 100%;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #ffffff;
    font-size: 1rem;
}

/* Checkbox lembrar-me */
.remember-me {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Links */
.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.form-actions a {
    font-size: 0.9rem;
    color: var(--cor-tema);
    text-decoration: none;
}

.form-actions a:hover {
    text-decoration: underline;
}

/* Link para registro */
.register-link {
    text-align: center;
    margin-top: 1rem;
}

.register-link a {
    color: var(--cor-tema);
    font-weight: bold;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Mensagens de erro */
.error {
    font-size: 0.85rem;
    color: #cd5c5c;
    margin-top: 0.3rem;
}

/* Status da sessão */
.session-status {
    background: #e0f7e9;
    color: #094949;
    padding: 0.8rem;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 1rem;
}

.modal {
    display: block; /* se houver erro, já aparece */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover {
    color: black;
}

.texto-esqueceu {
    margin-top: 1rem;
    color: var(--cor-preto);
    font-size: 1rem;
    width: 100%;
    font-weight: bold;
}

.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: #e6e6e6;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  border-radius: 25px;
  padding: 0 30px;
  height: 50px;
}

textarea.input1 {
  min-height: 150px;
  padding: 12px 30px;
  border-radius: 25px;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(70, 133, 184, 0.5);
  border-radius: 25px;
}

.input1:focus + .shadow-input1 {
  animation: anim-shadow 0.5s ease-in-out forwards;
}

.material-symbols-outlined {
color: var(--cor-preto);
}

.contact1 {
  width: 100%;
  min-height: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container-contact1 {
  width: 1163px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 90px 130px 88px 148px;
}


.contact1-form-btn {
  min-width: 193px;
  height: 50px;
  border-radius: 25px;
  background: #427dc0;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  transition: all 0.4s;
  cursor: pointer;
}

.contact1-form-btn:hover {
  background: #333333;
}

.contact1-form-btn i {
  margin-left: 7px;
  transition: all 0.4s;
}

.contact1-form-btn:hover i {
  transform: translateX(10px);
}

.material-symbols-outlined{
margin-top: 20px; 
margin-left:20px;
color: var(--cor-preto);
}
