/* Container geral */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--branco);
}

/* botão voltar */
.voltar {
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
}

.voltar span {
  font-size: 20px;
  padding: .5rem;
  color: var(--preto);
  background: none;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.voltar:hover span {
  background-color: var(--branco-light);
  color: var(--vermelho);
}

/* logo ======= */
.logo-container {
  position: absolute;
  top: 3rem;
  left: 47.5%;
  transform: translate(-10%, -10%);
  border: none;
}

.logo-container img {
  width: 150px;
  transition: 0.3s;
  cursor: pointer;
}

.logo-container:hover img {
  transform: translateY(1.75px);
}

/* Formulário */
form {
  width: 420px;
  background: var(--branco);
  border-radius: 8px;
  padding: 0 1rem;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: height .32s ease;
}

/* Título */
form h2 {
  text-align: center;
  font-size: 26px;
  margin-top: .5rem;
  color: var(--vermelho);

}

/* Grupos do formulário */
.form-group {
  margin-bottom: 1rem;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
  /* espaço pro ícone não sobrepor o texto */
  box-sizing: border-box;
}

.password-wrapper img {
  position: absolute;
  right: 10px;
  /* distância da borda direita */
  top: 50%;
  transform: translateY(-50%);
  /* centraliza verticalmente */
  width: 25px;
  cursor: pointer;
}

/* Labels */
.form-group label {
  font-weight: bold;
  color: var(--cor-preto);
  display: block;
  margin-bottom: 0.3rem;
  margin-top: 0.5rem;
}

.form-group input:focus {
  outline: none;
  border: none;
}

/* Inputs */
.form-group input[type="email"] {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid var(--branco-light);
  font-size: 1rem;
}

/* Links */
.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.form-actions a {
  font-size: 0.9rem;
  color: var(--azul);
  text-decoration: none;
}

.form-actions a:hover {
  text-decoration: underline;
}

/* Link para registro */
.register-link {
  text-align: center;
  margin-top: 1rem;
}

.register-link a {
  color: var(--azul);
  font-weight: bold;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

/* Mensagens de erro */
.error {
  font-size: 0.85rem;
  color: var(--vermelho);
  margin-top: 0.3rem;
}

/* Status da sessão */
.session-status {
  background: transparent;
  color: var(--verde);
  padding: 0.8rem;
  border-radius: 6px;
  text-align: center;
  margin-bottom: 1rem;
}

.modal {
  display: block;
  /* se houver erro, já aparece */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: var(--azul);
  margin: 15% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.close {
  color: var(--preto);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: var(--vermelho);
}

.texto-esqueceu {
  margin-top: 1rem;
  color: var(--cor-preto);
  font-size: 14px;
  width: 100%;
  font-weight: 500;
}

.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 100%;
  background: var(--branco);
  font-size: 15px;
  line-height: 1.5;
  color: var(--preto);
  border-radius: 25px;
  padding: 0 30px;
  height: 50px;
}

/* botões ===*/
.btn-submit {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}

.btn-submit button {
  padding: .5rem 1rem;
  width: 30%;
  transition: .3s;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 25px;
  background-color: var(--branco);
  color: var(--vermelho);
  border: 1px solid var(--vermelho);
}

.btn-submit button:hover {
  background-color: var(--vermelho);
  color: var(--branco);
}