/* Container geral */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: var(--branco);
}

/* Formulário div*/
.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

/* botão voltar */
.voltar {
    position: absolute;
    border: none;
}

.voltar span {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    padding: .5rem;
    color: var(--preto);
    background: none;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.voltar:hover span {
    background-color: var(--branco-light);
    color: var(--vermelho);
}

/* Logo -------------------------*/
.logo-container {
    position: absolute;
    top: 3rem;
    left: 47.5%;
    transform: translate(-10%, -10%);
    border: none;
}

.logo-container img {
    width: 150px;
    transition: 0.3s;
    cursor: pointer;
}

.logo-container:hover img {
    transform: translateY(1.75px);
}

/* Formulário */
.login-form {
    background: var(--branco);
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

/* Título */
.login-form h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 1.5rem;
    color: var(--azul);
}

/* Grupos do formulário */
.form-group {
    margin-bottom: 1rem;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
    /* espaço pro ícone não sobrepor o texto */
    box-sizing: border-box;
}

.password-wrapper img {
    position: absolute;
    right: 10px;
    /* distância da borda direita */
    top: 50%;
    transform: translateY(-50%);
    /* centraliza verticalmente */
    width: 25px;
    cursor: pointer;
}

/* Labels */
.form-group label {
    font-weight: bold;
    color: var(--cor-preto);
    display: block;
    margin-bottom: 0.3rem;
}

.form-group input:focus {
    outline: none;
    border: none;
}

/* Inputs */
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
    width: 100%;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid var(--branco-light);
    font-size: 1rem;
}

/* Checkbox lembrar-me */
.remember-me {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Links */
.form-actions {
    display: flex;
    height: 100%;
}

.form-actions a {
    font-size: 14px;
    color: var(--azul);
    text-decoration: none;
    transition: .3s;
}

.form-actions a:hover {
    color: var(--azul-apagado);
}

/* Link para registro */
.register-link {
    text-align: center;
    margin-top: 1rem;
}

.register-link a {
    color: var(--azul);
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}

.register-link a:hover {
    color: var(--azul-apagado);
}

/* Mensagens de erro */
.error {
    font-size: 0.85rem;
    color: var(--vermelho);
    margin-top: 0.3rem;
}

/* Status da sessão */
.session-status {
    background: var(--branco);
    color: var(--azul);
    padding: 0.8rem;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 1rem;
}

.modal {
    display: block;
    /* se houver erro, já aparece */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--branco);
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close {
    color: var(--branco-light);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: var(--preto);
}

.contact1-form-btn {
    align-self: flex-end;
    background-color: var(--branco);
    color: var(--azul);
    font-size: 14px;
    font-weight: bold;
    padding: .75rem;
    border: 1px solid var(--azul);
    border-radius: 25% / 50%;
    cursor: pointer;
    transition: .3s;
}

.contact1-form-btn:hover {
    background-color: var(--azul);
    color: var(--branco);
}

.contact1-form-btn i {
    margin-left: 7px;
    transition: all 0.4s;
}

.contact1-form-btn:hover i {
    transform: translateX(10px);
}

.text-senha {
    position: relative;
}

.beto {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}