:root {
    --cor-tema: #048ABF;
    --cor-tema-apagado: #016d98;
    --cor-fundo: #262626;
    --cor-branco: #D0D6D9;
    --cor-preto: #000000;
    --cor-vermelho: #F22222;

    --preto: #0D0D0D;
    --cinza-borda: #2f3336;
    --cinza-font: #b3b3b3;
    --branco: #F2F2F2;
    --branco-light: #ccc;
    --azul: #1d3e55;
    --verde: #03A64A;
    --vermelho: #F26D6D;
}

/* Container geral */
.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: var(--branco);
}

/* botão voltar */
.login-container .voltar {
    position: absolute;
    top: 10px;
    left: 20px;
    border: none;
}

.login-container .voltar span {
    font-size: 20px;
    padding: .5rem;
    color: var(--preto);
    background: none;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.login-container .voltar:hover span {
    background-color: rgba(208, 219, 231, 0.95);
    color: var(--cor-tema);
}

/* Formulário div*/
.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

/* Logo -------------------------*/
.container-logo {
    position: relative;
    background-color: var(--cor-tema);
    width: 500px;
}

.login-content .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    width: 230px;
}

.login-content .logo-esqueceu {
    position: absolute;
    width: 230px;
    top: 4rem;
    left: 38rem;
}

/* Formulário */
.login-form {
    background: var(--branco);
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
}

/* Título */
.login-form h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 1.5rem;
    color: var(--cor-tema);
}

/* Grupos do formulário */
.form-group {
    margin-bottom: 1rem;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
    /* espaço pro ícone não sobrepor o texto */
    box-sizing: border-box;
}

.password-wrapper img {
    position: absolute;
    right: 10px;
    /* distância da borda direita */
    top: 50%;
    transform: translateY(-50%);
    /* centraliza verticalmente */
    width: 25px;
    cursor: pointer;
}

/* Labels */
.form-group label {
    font-weight: bold;
    color: var(--cor-preto);
    display: block;
    margin-bottom: 0.3rem;
}

.form-group input:focus {
    outline: none;
    border: none;
}

/* Inputs */
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
    width: 100%;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

/* Checkbox lembrar-me */
.remember-me {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Links */
.form-actions {
    display: flex;
    height: 100%;
}

.form-actions a {
    font-size: 14px;
    color: var(--cor-tema);
    text-decoration: none;
    transition: .3s;
}

.form-actions a:hover {
    color: var(--cor-tema-apagado);
}

/* Link para registro */
.register-link {
    text-align: center;
    margin-top: 1rem;
}

.register-link a {
    color: var(--cor-tema);
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}

.register-link a:hover {
    color: var(--cor-tema-apagado);
}

/* Mensagens de erro */
.error {
    font-size: 0.85rem;
    color: #cd5c5c;
    margin-top: 0.3rem;
}

/* Status da sessão */
.session-status {
    background: #e0f7e9;
    color: #094949;
    padding: 0.8rem;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 1rem;
}

.modal {
    display: block;
    /* se houver erro, já aparece */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}

.contact1-form-btn {
    align-self: flex-end;
    background-color: var(--preto);
    color: var(--branco);
    font-size: 14px;
    font-weight: bold;
    padding: .75rem;
    border: none;
    border-radius: 25% / 50%;
    cursor: pointer;
    transition: .3s;
}

.contact1-form-btn:hover {
    background-color: var(--cor-tema);
}

.contact1-form-btn i {
    margin-left: 7px;
    transition: all 0.4s;
}

.contact1-form-btn:hover i {
    transform: translateX(10px);
}

.text-senha {
    position: relative;
}

.beto {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.material-symbols-outlined {
    margin-top: 20px;
    margin-left: 20px;
    color: var(--cor-preto);
}