* {
    box-sizing: border-box
}

/* Container geral */
.container {
    background: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* botão voltar */
.voltar {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    border: none;
}

.voltar span {
    font-size: 20px;
    padding: .5rem;
    color: var(--preto);
    background: none;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.voltar:hover span {
    background-color: var(--branco-light);
    color: var(--azul);
}

/* logo ======= */
.logo-container {
    position: absolute;
    top: 10%;
    left: 45%;
    transform: translate(-10%, -10%);
    border: none;
}

.logo-container img {
    width: 250px;
    transition: 0.3s;
    cursor: pointer;
}

.logo-container:hover img {
    transform: translateY(1.75px);
}

/* Formulário */
form {
    width: 420px;
    background: var(--branco);
    border-radius: 8px;
    padding: 0 1rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, .08);
    overflow: hidden;
    transition: height .32s ease;
}

/* Título */
form h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 1.5rem;
    color: var(--azul);
    margin-top: 2rem;
}

/* Grupos do formulário */
.form-group {
    margin-bottom: 1rem;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px;
    /* espaço pro ícone não sobrepor o texto */
    box-sizing: border-box;
}

.password-wrapper img {
    position: absolute;
    right: 10px;
    /* distância da borda direita */
    top: 50%;
    transform: translateY(-50%);
    /* centraliza verticalmente */
    width: 25px;
    cursor: pointer;
}

/* Labels */
.form-group label {
    font-weight: bold;
    color: var(--cor-preto);
    display: block;
    margin-bottom: 0.3rem;
}

.form-group input:focus {
    outline: none;
    border: none;
}

/* Inputs */
.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"] {
    width: 100%;
    padding: 0.6rem;
    border-radius: 6px;
    border: 1px solid var(--branco-light);
    font-size: 1rem;
}

/* Checkbox lembrar-me */
.remember-me {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Links */
.form-actions {
    display: flex;
    height: 100%;
}

.form-actions a {
    font-size: 14px;
    color: var(--vermelho);
    text-decoration: none;
    transition: .3s;
}

.form-actions a:hover {
    color: var(--vermelho-apagado);
}

/*  Opções login */
.options-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .5rem;
}

.options-login button {
    padding: 10px 16px;
    border-radius: 50% / 100%;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
    border: 1px solid var(--azul);
    background-color: var(--branco);
    color: var(--azul);
}

.options-login button:hover {
    background-color: var(--azul);
    color: var(--branco);
}

/* Link para registro */
.register-link {
    text-align: center;
    margin-top: 1rem;    
    margin-bottom: 2rem;
}

.register-link a {
    color: var(--verde);
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}

.register-link a:hover {
    color: var(--verde-apagado);
}

/* Mensagens de erro */
.error {
    font-size: 0.85rem;
    color: var(--vermelho);
    margin-top: 0.3rem;
}

/* Status da sessão */
.session-status {
    background: var(--branco);
    color: var(--verde);
    padding: 0.8rem;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 1rem;
}

.modal {
    display: block;
    /* se houver erro, já aparece */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: var(--branco);
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close {
    color: var(--branco);
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color:var(--preto);
}