/* form dentro do modal */
.form-postar {
    background: transparent;
    /* sem fundo extra */
    box-shadow: none;
    padding: 0;
}

.form-postar .textfield-postar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

/* conta dígitos*/
.form-postar #char-count {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.form-postar .textfield-postar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.form-postar .textfield-postar textarea {
    flex: 1;
    padding: 10px 12px;
    margin-top: 1.5rem;
    border: none;
    min-height: 50px;
    /* altura inicial */
    max-height: 300px;
    /* limite de crescimento */
    resize: none;
    /* impede redimensionamento manual */
    background-color: var(--branco);
}

.form-postar .textfield-postar textarea:focus {
    outline: none;
}

.form-postar .upload-label-postar {
    cursor: pointer;
    color: #007bff;
    font-weight: 500;
}

.form-postar .upload-label-postar:hover {
    color: #0056b3;
}

.form-postar .input-file-postar {
    display: none;
}

.form-postar .botao-submit-postar {
    display: flex;
    justify-content: space-between;
}

.form-postar .botao-postar-postar {
    padding: 8px 18px;
    border-radius: 8px;
    background: var(--cor-fundo);
    color: var(--branco);
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.form-postar .botao-postar-postar:hover {
    background: var(--cor-tema);
}