/* Quando a classe "hidden" NÃO está presente */
.modal {
    display: flex;
    position: fixed;
    z-index: 999999;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: flex-start;
    padding-top: 2.5rem;
}

.modal:not(.hidden),
.modal-denuncia:not(.hidden),
.modal-editar-postagem:not(.hidden) {
    display: flex !important;
    /* força aparecer */
}

/* Conteúdo do modal */
.modal-content {
    background: var(--branco);
    padding: 4rem 1rem 1rem 1rem;
    border-radius: 15px;
    width: 600px;
    position: relative;
    display: flex;
    align-items: flex-start;
}

.hidden {
    display: none !important;
}

/* ---------- BOTÃO FECHAR ---------- */
.modal-content .close {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
}

.modal-content .close span {
    font-size: 20px;
    padding: .5rem;
    color: var(--preto);
    background: none;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.modal-content .close:hover span {
    background-color: var(--branco-light);
    color: var(--vermelho);
}

/* Animação de entrada */
@keyframes aparecerModal {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-content-content {
    width: 100%;
}

/* DENÚNCIA --------------(modal)*/
.modal-denuncia {
    display: flex;
    /* escondido por padrão */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    padding-top: 2.5rem;
}

/* Espaçamento */
.modal-denuncia .form {
    margin-bottom: 1rem;
}

.modal-denuncia .form-control:focus {
    border-color: var(--vermelho);
    box-shadow: 0 0 0 3px rgba(203, 213, 56, 0.3);
    outline: none;
}

/* fundo do modal --------------(modal)*/
.modal-denuncia {
    display: flex;
    /* escondido por padrão */
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    padding-top: 2.5rem;
}

/* conteudo modal */
.modal-denuncia .modal-content {
    background: var(--branco);
    padding: 4rem 1rem 1rem 1rem;
    border-radius: 15px;
    width: 600px;
    position: relative;
    display: flex;
    align-items: flex-start;
}

/* Espaçamento */
.modal-denuncia .form {
    margin-bottom: 1rem;
}

/* campos */
.modal-denuncia .form-label {
    display: block;
    font-weight: 600;
    color: var(--cor-preto);
    margin-bottom: 0.3rem;
}

/* input */
.modal-denuncia .form-control {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border: 1px solid var(--branco-light);
    border-radius: 6px;
    background-color: var(--branco);
    font-size: 0.95rem;
    transition: all 0.3s ease;
}

.modal-denuncia .form-control:focus {
    border-color: var(--vermelho);
    box-shadow: 0 0 0 3px rgba(203, 213, 56, 0.3);
    outline: none;
}

/* Form select */
.modal-denuncia .form-select {
    width: 100%;
    padding: 0.55rem 0.75rem;
    border: 1px solid var(--branco-light);
    border-radius: 6px;
    background-color: var(--branco);
    font-size: 0.95rem;
    appearance: none;
    /* Remove seta padrão */
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

/* coloca a img personalizada */
.modal-denuncia .form-select {
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="5"><path fill="%23017373" d="M0 0l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 10px 5px;
}

.modal-denuncia .form-select:hover {
    border-color: var(--vermelho);
}

.modal-denuncia .form-select:focus {
    border-color: var(--vermelho);
    box-shadow: 0 0 0 3px rgba(203, 213, 56, 0.3);
    outline: none;
}

/* close button */
.modal-denuncia .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}

/* botão de denunciar */
.modal-denuncia button {
    background-color: var(--branco);
    color: var(--vermelho);
    font-size: var(--texto-padrao);
    font-weight: bold;
    padding: .6rem 1.5rem;
    border: 1px solid var(--vermelho);
    border-radius: 25px;
    cursor: pointer;
    transition: background-color .3s, transform .1s;
}

.modal-denuncia button:hover {
    background-color: var(--vermelho);
    color: var(--branco);
}