:root {
    --cor-tema: #017373;
    --cor-fundo: #262626;
    --cor-branco: #D0D6D9;
    --cor-preto: #000000;
    --cor-vermelho: #F22222;

    --preto: #0D0D0D;
    --branco: #F2F2F2;
    --azul: #1d3e55;
    --verde: #03A64A;
    --vermelho: #F26D6D;
}

/* Escopo exclusivo para evitar conflito */
.perfil-section {
    background: var(--cor-branco);
    padding: 2rem;
    border-radius: 12px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.perfil-section header h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--cor-tema);
}

.perfil-section header p {
    font-size: 0.95rem;
    margin-top: 0.5rem;
    color: var(--cor-texto);
}

/* Campos */
.perfil-section .form-label {
    display: block;
    font-weight: 600;
    color: var(--cor-preto);
    margin-bottom: 0.3rem;
}

.perfil-section .form-control {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    font-size: 0.95rem;
    transition: all 0.3s ease;
}

.perfil-section .form-control:focus {
    border-color: var(--cor-tema);
    box-shadow: 0 0 0 3px rgba(203, 213, 56, 0.3);
    outline: none;
}

/* Botões */
.perfil-section .btn-primary,
.perfil-section x-primary-button {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background-color: var(--cor-tema);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.perfil-section #botao-excluir {
    background-color: var(--cor-vermelho);
}



.perfil-section .btn-primary:hover,
.perfil-section x-primary-button:hover {
    background-color: var(--azul);
}

.perfil-section #botao-excluir:hover {
    background-color: var(--vermelho);
}

/* Mensagens */
.perfil-section .text-success {
    color: var(--cor--tema);
}

.perfil-section .text-error {
    color: var(--cor-cor-vermelho);
}

/* Espaçamento */
.perfil-section .mb-3 {
    margin-bottom: 1rem;
}

.perfil-section .flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.perfil-section .gap-4 {
    gap: 1rem;
}