.modal-postar .modal-content {
    padding: 2rem 1rem 1rem 1rem;
}

.form-postar {
    display: flex;
    flex-direction: row;
    background: transparent;
    box-shadow: none;
    width: 100%;
    padding: 0;
}

/* foto usuário */
.form-postar .user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.form-postar .textfield .post-textarea-create-modal {
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    padding: 1rem;
    font-size: 18px;
    font-family: inherit;
    color: transparent;
    caret-color: var(--preto);
    resize: none;
    overflow-y: hidden;
}

.form-postar .textfield textarea:focus {
    outline: none;
}

.form-postar .form {
    width: 100%;
}

/* opções (upload etc) */
.form-postar .form .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 0;
    border-top: 1px solid var(--branco-light);
    margin: auto;
    margin-top: .5rem;
}

.form-postar .form .content .extras {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

/* icon image -------------------*/
.form-postar .form .upload-label span {
    font-size: 20px;
    padding: .5rem;
    border-radius: 50%;
    color: var(--preto);
    transition: .3s;
}

.form-postar .form .upload-label:hover span {
    background-color: var(--branco);
    color: var(--azul);
}

.form-postar .form .upload-label {
    cursor: pointer;
    color: var(--azul);
    font-weight: bold;
    font-size: var(--texto-padrao);
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: color .2s;
}

.form-postar .form .upload-label:hover {
    color: var(--azul);
}

/* esconder input file padrão */
.form-postar .form .input-file {
    display: none;
}

.form-postar .form .contador {
    font-size: 16px;
    color: var(--cinza);
    align-self: center;
    margin-left: auto;
    margin-right: 1rem;
}

/* botão postar ----------------*/
.form-postar .form .botao-submit {
    display: flex;
    flex-direction: column-reverse;
}

.form-postar .form .botao-postar {
    align-self: flex-end;
    background-color: var(--branco);
    color: var(--azul);
    font-size: 14px;
    font-weight: bold;
    padding: .75rem;
    border: 1px solid var(--azul);
    border-radius: 25% / 50%;
    cursor: pointer;
    transition: .4s;
}

.form-postar .form .botao-postar:hover {
    background-color: var(--azul);
    color: var(--branco);
}

/* ----------------------------- preview imagem modal------------------------------- */
.form-postar .image-preview img {
    max-height: 375px;
}