/* ----------------------------- create posts ------------------------------- */
.create-post {
    background-color: var(--branco);
    padding: 1rem;
    border-bottom: 1px solid var(--cinza-borda);
}

.create-post .form {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.create-post .form form{
    width: 100%;
}

/* campo principal */
.create-post .form .textfield {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.create-post .form .textfield textarea {
    width: 100%;
    border: none;
    padding: 1rem;
    font-size: 18px;
    background-color: var(--branco);
    color: var(--preto);
    resize: none;
    overflow-y: hidden;
}

.create-post .form .textfield textarea:focus {
    outline: none;
}

/* opções (upload etc) */
.create-post .form .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem 0;
    border-top: 1px solid var(--cinza-borda);
    margin: auto;
    margin-top: .5rem;
}

.create-post .form .content .extras {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
}

/* label customizada */
.create-post .form .upload-label img {
    width: 20px;
}

.create-post .form .upload-label img:hover {
    transform: scale(1.05);
}

.create-post .form .upload-label {
    cursor: pointer;
    color: var(--cor-tema);
    font-weight: bold;
    font-size: var(--texto-padrao);
    display: flex;
    align-items: center;
    gap: .5rem;
    transition: color .2s;
}

.create-post .form .upload-label:hover {
    color: var(--azul);
}

/* esconder input file padrão */
.create-post .form .input-file {
    display: none;
}

.create-post .form .contador {
    font-size: 16px;
    color: var(--cinza);
    align-self: center;
    margin-left: auto; /* joga pro lado direito */
    margin-right: 1rem;
}

/* botão */
.create-post .form .botao-submit {
    display: flex;
    flex-direction: column-reverse;
}

.create-post .form .botao-postar {
    align-self: flex-end;
    background-color: var(--preto);
    color: var(--branco);
    font-size: 14px;
    font-weight: bold;
    padding: .3rem 1.5rem;
    border: none;
    border-radius: 25% / 100%;
    cursor: pointer;
    transition: background-color .2s, transform .1s;
}

.create-post .form .botao-postar:hover {
    background-color: var(--cor-tema);
    transform: scale(1.03);
}