/* ===== Estrutura geral ===== */
.chat-container {
    display: flex;
    height: 90vh;
    background: var(--branco);
    border-radius: 1.2rem;
    overflow: hidden;
    border: 1px solid var(--branco-light);
}

/* ===== Lista lateral ===== */
.chat-list {
    width: 30%;
    background: var(--branco);
    border-right: 1px solid var(--branco-light);
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    color: var(--preto);
    overflow: hidden;
}

.chat-list h3 {
    margin: 0rem auto 0.75rem auto;
    font-size: 16px;
    text-indent: 8px;
    color: var(--vermelho-apagado);
}

.chat-busca {
    padding: 0.25rem;
    margin-bottom: 0.5rem;
}

.chat-busca input {
    width: 100%;
    padding: 0.5rem 0.75rem;
    color: var(--preto);
    background-color: var(--branco);
    border: 1px solid var(--cinza-font);
    border-radius: 1rem;
    outline: none;
    transition: all 0.05s ease-in-out;
}

.chat-busca input:focus {
    border-color: var(--cinza);
    box-shadow: 0 0.05rem 0.15rem 0 rgba(0, 0, 0, 0.7);
}

.chat-list-body {
    flex: 1;
    overflow-y: auto;
    padding: 0 1rem;
}

.chat-list-body::-webkit-scrollbar {
    width: 0.35rem;
}
.chat-list-body::-webkit-scrollbar-thumb {
    background-color: var(--vermelho-apagado);
    border-radius: 0.75rem;
}
.chat-list-body::-webkit-scrollbar-thumb:hover {
    background-color: var(--vermelho);
}

/* ===== Seguindo ===== */
#usuarios-seguindo {
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* ===== Conversas ===== */
#minhas-conversas {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.usuario-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.75rem;
    padding: 0 0.5rem;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: all .25s ease-in-out;
    overflow: hidden;
}

.usuario-item:hover {
    border-color: var(--vermelho);
    /*border-color: var(--vermelho);*/
    cursor: pointer;
}

.usuario-item.active {
    border-color: var(--vermelho);
}

.usuario-item img {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    flex-shrink: 0; /* não diminui auto. em divs menores*/
}

.usuario-item span {
    font-weight: bold;
    margin-left: 0.75rem;
    color: var(--preto);
    white-space: nowrap; /*impede a quebra de linha*/
    overflow: hidden; /* oculta o q sobrar*/
    text-overflow: ellipsis; /* reticências*/
    display: block;
    max-width: 70%; 
}

@media (max-width: 600px) {
  .usuario-item span {
    max-width: 50%;
    font-size: 0.9rem;
  }
}

/* ===== dados contato ===== */
.dados-contato {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.dados-contato h1 {
    color: var(--vermelho-apagado);
    font-size: 15px;
    font-weight: 600;
}

.dados-contato h2 {
    color: var(--preto);
    font-size: 14px;
    font-weight: 500;
}

/* ===== Janela principal ===== */
.chat-window {
    width: 70%;
    display: flex;
    flex-direction: column;
    background: var(--branco-light);
    color: var(--preto);
    position: relative;
    overflow: hidden;
}

/* Topo */
.chat-window .top {
    display: flex;
    align-items: center;
    padding: 0.6rem 1rem;
    margin: 0;
    border-bottom: 1px solid var(--branco-light);
    box-shadow: 01 1px 2px rgba(0, 0, 0, 0.4);
    background: var(--branco);
    z-index: 5;
    overflow: hidden;
}

.chat-window .top .botaoFecharChat {
    display: none;
    width: max-content;
    height: max-content;
    margin: auto 5% auto 0;
    padding: 0;
}
.chat-window .top .botaoFecharChat a {
    display: flex;
    align-items: baseline;
    justify-content: center;

    padding: 0;
    margin: 0 auto;
    color: var(--preto);
    border: none;
    border-radius: 50%;
    max-width: 1.4rem;
    min-width: 0.6rem;
    max-height: 1.4rem;
    min-height: 0.6rem;
    transition: all 0.4s ease-in-out;
}

.chat-window .top .botaoFecharChat a:hover {
    background-color: var(--branco-light);
}

.material-symbols-outlined:hover::after,
    .material-symbols-outlined.active::after {
    display: none;
}

.chat-window .top img {
    border-radius: 50%;
    margin-right: 10px;
    border-left: 1px solid var(--branco-light);
    width: 2.6rem;
    height: 2.6rem;
    border: 2px solid var(--vermelho-apagado);
    object-fit: cover;
    display: none;
}

.sem-usuario p,
.sem-usuario small {
    margin: 0;
    font-weight: 600;
    text-decoration: none;
    color: var(--vermelho-apagado);
}

.chat-window .top small {
    color: var(--cinza-font);
}

/* MENSAGENS*/
.messages {
    flex: 1;
    overflow-y: auto;
    padding: 1rem 0.75rem 6rem;
    outline: none;
    
    background: var(--branco) url('/assets/images/conteudo/default-images/fundo-chat-haikei.png') no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    scroll-behavior: smooth;
}

/* Scroll estilizado */
.messages::-webkit-scrollbar {
    width: 0.45rem;
}
.messages::-webkit-scrollbar-thumb {
    background: var(--vermelho-apagado);
    border-radius: 0.25rem;
}
.messages::-webkit-scrollbar-thumb:hover {
    background: var(--vermelho);
}
.messages::-webkit-scrollbar-thumb:active {
    background: var(--vermelho);
}

/* mensagem (container)*/

.message {
    display: flex;
    align-items: flex-end;
    gap: 0.35rem;
    padding: 0;
    padding-left: 0%;
    max-width: 100%;
    min-width: fit-content;
}

.message img {
    max-width: 2.75rem;
    width: 40px;
    height: 40px;
    max-height: 2.75rem;
    object-fit: cover;
    border-radius: 50%;
    margin: auto 0.2rem;
    margin-top: 0;
}

.message p {
    height: fit-content;
    min-width: 5rem;
    width: fit-content;
    max-width: 75%;
    margin-left: auto;
    padding: 1.2rem;/* espaço dos ícones*/
    padding-top: 4px;
    margin: 0;
    color: var(--branco);
    background-color: var(--preto);
    line-height: 1.5;
    text-align: justify;
    border: 1px solid transparent;
    border-radius: 1rem;

    display: inline-block;
    position: relative; /* para pôr o ícone*/
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    /*hyphens: auto;  hifenização do Word*/
}

/* horario mensagem 
.message p .tempo {
  position: absolute;
  bottom: 0.25rem;
  right: 2rem;       /* pré-verificações *
  font-size: 8px;
  color: var(--cinza-font);
  white-space: nowrap;
  pointer-events: none;
}*/

/* remetente (tu, Capitu) -> right*/
.right {
    justify-content: flex-end;
}

.right p {
    font-size: clamp(0.6rem, 1vw + 0.6rem, 1rem);
    width: fit-content;
    color: var(--branco);
    background-color: var(--vermelho-apagado);
    border-bottom-right-radius: 0.15rem;
}

/* === Confirmação visual nas mensagens enviadas === 

.right p::after {
  content: ""; /* pros checks *
  position: absolute;
  width: 18px;
  height: 12px;
  bottom: 0.25rem;
  right: 0.45rem;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f2f2f2' viewBox='0 0 24 24'%3E%3Cpath d='M1 13l4 4L13 9l-1.5-1.5L5 14l-3-3zm6 0l4 4L23 5l-1.5-1.5L11 15l-3-3z'/%3E%3C/svg%3E") no-repeat center;
  background-size: contain;
  opacity: 0.7;
  pointer-events: none;
}
*/
/* mensagens lidas 
.right .lida p::after {
  color: var(--cor-tema);
  filter: var(--cor-tema);
  opacity: 1;
}*/


/* Bolhas */
.message p .hora-msg {     
    position: absolute;     
    color: var(--branco);     
    font-size: 0.65rem;     
    opacity: 75%;     
    bottom: 0.35rem;     
    right: 0.75rem;
}

/* destinatário === lefft*/
.left  {
    justify-content: flex-start;
}

.left p {
    font-size: clamp(0.6rem, 1vw + 0.6rem, 1rem);
    color: var(--branco);
    background-color: var(--preto);
    border-top-left-radius: 0.15rem;
}




/* ===== Campo de envio ===== */
#avatar-destinatario {
    display: none;
}

#chat-form-container {
    display: none;
    align-items: center;
    padding: 0.6rem;
    border-top: 1px solid var(--branco-light);
}

#chatForm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
    width: 100%;
}

#chatForm input[type="text"] {
    flex: 1;
    color: var(--preto);
    background-color: var(--branco);
    width: 80%;
    padding: 0.5rem;
    border: 1px solid var(--branco-light);
    border-radius: 1rem;
    outline: none;
    transition: all 0.3s ease-in-out;
}

#chatForm input[type="text"]:focus {
    border-color: var(--cinza);
}

.bottom {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.6rem 0.75rem;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid var(--branco-light);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
    background: var(--branco);
    
    /*gap: 10px;*/
    position: absolute;
    z-index: 10;
}

.bottom form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bottom input[type="text"] {
    flex: 1;
    background: var(--branco);
    border: 1px solid var(--branco-light);
    border-radius: 1.2rem;
    color: var(--preto);
    padding: 10px;
    outline: none;
    font-size: clamp(0.65rem, 1vw + 0.35rem, 1.2rem);
    transition: all 0.3s ease-in-out;
    resize: none;
}

.bottom input[type="text"]:focus {
    border-color: var(--vermelho);
    background: var(--branco-light);
}

.bottom #chatForm button {
    background-color: var(--branco);
    padding: 10px 18px;
    border: 1px solid var(--vermelho-apagado);
    color: var(--vermelho-apagado);
    border-radius: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out, transform 0.1s;
}

.bottom #chatForm button:hover {
    color: var(--branco);
    background-color: var(--vermelho-apagado);
}

.bottom #chatForm button:active {
    transform: scale(0.975);
}
 

/* ===== Estado inicial ===== */
#nome-destinatario {
    color: var(--preto);
}

#status-destinatario {
    font-size: 0.8rem;
    color: var(--azul);
}


/* Responsividade*/
@media (max-width: 1024px) {
    .chat-busca #buscarUsuario {
        font-size: 0.85rem;
    }
}


@media (max-width: 764px) {
    .chat-container {
        position: fixed;
        margin: auto;
        height: 100vh;
        width: 60vw;
        padding: 0;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .chat-list {
        width: 95%;
        height: 100vh;
        margin: 0;
        border: none;
    }

    .chat-window {
        display: none;
    }

    .chat-container.chat-ativo .chat-list {
        display: none;
    }

    .chat-container.chat-ativo .chat-window {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        z-index: 10;
    }
    .top {
        border-top: 1px solid var(--branco-light);
    }

    .chat-window .top .botaoFecharChat {
        display: flex;
    }

    .messages {
        padding-bottom: 5rem;
    }
}

@media (max-width: 600px) {
    .container-main .chat-container {
        position: fixed;
        width: 100vw;
        height: 90vh;
        padding: 0;
        right: 0;
        margin: auto 0;
        border-radius: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .chat-list {
        width: 100%;
        height: 100vh;
        padding: 0 0.3rem;
        border: 1.5px solid var(--vermelho);
        border-radius: 1rem;
    }

    .chat-list h3 {
        margin: 0.2rem auto;
        padding: 0;
    }

    .chat-window {
        display: none;
    }

    .chat-container.chat-ativo .chat-list {
        display: none;
    }

    .chat-container.chat-ativo .chat-window {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        z-index: 10;
        margin: 0;
    }

    .chat-busca input {
        padding: 0.5rem 0.75rem;
    }

    .chat-window .top .botaoFecharChat {
        display: flex;
    }
    
    .bottom input[type="text"] {
        padding: 0.4rem;
    }

    .bottom button {
        padding: 0.5rem 1rem;
    }
}