body {
    background-color: var(--branco);
}

/* body */
.layout {
    max-width: 100vw;
    background-color: var(--branco);
}

/* conteúdo */
.container-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 1297px;
    margin: auto;
    background-color: var(--branco);
}

.container-main {
    width: 600px;
}

.content-popular{
    border-left: 1px solid var(--branco-light);
}

/* Parte Admin */
.admin {
    max-width: 100%;
}

.admin .main {
    width: 100%;
}