/* links -----------------------------------------------------------------------------------*/
.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    padding: 0 1rem;
}

/* estilo individual dos links */
.links .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem 1rem;
    border-radius: 50px / 100%;
    /*color: var(--preto); só no modo claro + monocromático*/
    text-decoration: none;
    text-rendering: optimizeLegibility;
    transition: all 0.3s ease-in-out;
}

/* Colorido para modo normal*/
/* HOME (1º link) */
.links a:nth-of-type(1) {
    color: var(--cor-tema);
    transition: all 0.3s ease-in-out;
}

.links a:nth-of-type(1) .material-symbols-outlined {
    position: relative;
}

.links a:nth-of-type(1) .material-symbols-outlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.4s ease-in-out;
}

.links a:nth-of-type(1):hover {
    transform: translateX(7.5px);
}

.links a:nth-of-type(1):hover .material-symbols-outlined::after {
    width: 100%;
}

.links a:nth-of-type(1).active .material-symbols-outlined::after {
    width: 100%;
}

/* INTERESSES (2º link) - NOVO */
.links a:nth-of-type(2) {
    color: var(--laranja);
    transition: all 0.3s ease-in-out;
}

.links a:nth-of-type(2) .material-symbols-outlined {
    position: relative;
}

.links a:nth-of-type(2) .material-symbols-outlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.4s ease-in-out;
}

.links a:nth-of-type(2):hover {
    transform: translateX(7.5px);
}

.links a:nth-of-type(2):hover .material-symbols-outlined::after {
    width: 100%;
}

.links a:nth-of-type(2).active .material-symbols-outlined::after {
    width: 100%;
}

/* MENSAGENS (3º link) */
.links a:nth-of-type(3) {
    color: var(--vermelho);
    transition: all 0.3s ease-in-out;
}

.links a:nth-of-type(3) .material-symbols-outlined {
    position: relative;
}

.links a:nth-of-type(3) .material-symbols-outlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.4s ease-in-out;
}

.links a:nth-of-type(3):hover {
    transform: translateX(7.5px);
}

.links a:nth-of-type(3):hover .material-symbols-outlined::after {
    width: 100%;
}

.links a:nth-of-type(3).active .material-symbols-outlined::after {
    width: 100%;
}

/* PERFIL (4º link) */
.links a:nth-of-type(4) {
    color: var(--verde);
    transition: all 0.3s ease-in-out;
}

.links a:nth-of-type(4) .material-symbols-outlined {
    position: relative;
}

.links a:nth-of-type(4) .material-symbols-outlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.4s ease-in-out;
}

.links a:nth-of-type(4):hover {
    transform: translateX(7.5px);
}

.links a:nth-of-type(4):hover .material-symbols-outlined::after {
    width: 100%;
}

.links a:nth-of-type(4).active .material-symbols-outlined::after {
    width: 100%;
}

/* NOTIFICAÇÕES (5º link) */
.links a:nth-of-type(5) {
    color: var(--amarelo);
    transition: all 0.3s ease-in-out;
}

.links a:nth-of-type(5) .material-symbols-outlined {
    position: relative;
}

.links a:nth-of-type(5) .material-symbols-outlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.4s ease-in-out;
}

.links a:nth-of-type(5):hover {
    transform: translateX(7.5px);
}

.links a:nth-of-type(5):hover .material-symbols-outlined::after {
    width: 100%;
}

.links a:nth-of-type(5).active .material-symbols-outlined::after {
    width: 100%;
}

/* CONFIGURAÇÕES (6º link) */
.links a:nth-of-type(6) {
    color: var(--roxo);
    transition: all 0.3s ease-in-out;
}

.links a:nth-of-type(6) .material-symbols-outlined {
    position: relative;
}

.links a:nth-of-type(6) .material-symbols-outlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.4s ease-in-out;
}

.links a:nth-of-type(6):hover {
    transform: translateX(7.5px);
}

.links a:nth-of-type(6):hover .material-symbols-outlined::after {
    width: 100%;
}

.links a:nth-of-type(6).active .material-symbols-outlined::after {
    width: 100%;
}

/* ADMINISTRAÇÃO (7º link) */
.links a:nth-of-type(7) {
    color: var(--cor-preto);
    transition: all 0.3s ease-in-out;
}

.links a:nth-of-type(7) .material-symbols-outlined {
    position: relative;
}

.links a:nth-of-type(7) .material-symbols-outlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.4s ease-in-out;
}

.links a:nth-of-type(7):hover {
    transform: translateX(7.5px);
}

.links a:nth-of-type(7):hover .material-symbols-outlined::after {
    width: 100%;
}

.links a:nth-of-type(7).active .material-symbols-outlined::after {
    width: 100%;
}

/* RESPONSÁVEIS (8º link) - se existir */
.links a:nth-of-type(8) {
    color: var(--rosa);
    transition: all 0.3s ease-in-out;
}

.links a:nth-of-type(8) .material-symbols-outlined {
    position: relative;
}

.links a:nth-of-type(8) .material-symbols-outlined::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.4s ease-in-out;
}

.links a:nth-of-type(8):hover {
    transform: translateX(7.5px);
}

.links a:nth-of-type(8):hover .material-symbols-outlined::after {
    width: 100%;
}

.links a:nth-of-type(8).active .material-symbols-outlined::after {
    width: 100%;
}
.links .nav-link h1 {
    font-size: 16px;
}

/* icons */
.links .nav-link h1 {
    font-size: 20px;
    padding-left: 1.5rem;
    font-weight: 400;
}

.links .nav-link span {
    font-size: 35px;
}
/* Parte Admin -----------------------------------------------------------------------+*/
.admin .content {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 290px;
    height: 100vh;
    padding: 0rem 0rem 1rem 0;
    border: 1px solid var(--branco-light);
    background-color: var(--branco);
}

/* Topo Admin --*/
.admin-topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
    margin-bottom: 1rem;
    width: 100%;
}

.admin-topo img {
    height: 175px;
    width: 175px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.admin-topo img:hover {
    transform: scale(1.05);
}

/* Base dos links */
.admin .links .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem 2.5rem;
    border-radius: 50px / 100%;
    color: var(--preto);
    text-decoration: none;
    transition: background-color 0.25s ease, color 0.25s ease, transform 0.4s ease;
}

.admin .links a:nth-of-type(1) {
    color: var(--preto);
    transition: all 0.3s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        transform: translateX(7.5px);
        color: var(--cor-tema);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
    }

    &.active {
        .material-symbols-outlined::after {
            width: 100%;
        }
    }
}

.admin .links a:nth-of-type(2) {
    color: var(--preto);
    transition: all 0.4s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2.5px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        transform: translateX(7.5px);
        color: var(--verde);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
    }

    &.active {
        .material-symbols-outlined::after {
            width: 100%;
        }
    }
}

.admin .links a:nth-of-type(3) {
    color: var(--preto);
    transition: all 0.4s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        transform: translateX(7.5px);
        color: var(--amarelo);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
        transition: 0.05s;
    }

    &.active {
        .material-symbols-outlined::after {
            width: 100%;
        }
    }
}

.admin .links a:nth-of-type(4) {
    color: var(--preto);
    transition: all 0.4s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        transform: translateX(7.5px);
        color: var(--vermelho);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
    }

    &.active {
        .material-symbols-outlined::after {
            width: 100%;
        }
    }
}

.admin .links a:nth-of-type(5) {
    color: var(--vermelho);
    transition: all 0.4s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        transform: translateX(7.5px);
        color: var(--vermelho-apagado);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
    }
}

.admin .links .nav-link h1 {
    font-size: 20px;
    margin-left: 8px;
}

/* Hover e ativo genérico */
.admin .links .nav-link:hover {
    transform: translateX(5px);
    background: transparent;
}

.admin .links .nav-link.active {
    font-weight: bold;
}

/* ================================================================
   Cores individuais
   ================================================================ */

/* 🔵 Azul (Dashboard) */
.nav-link.azul:hover h1,
.nav-link.azul:hover span {
    color: var(--azul);
}

.nav-link.azul.active {
    color: var(--preto);
}

.nav-link.azul.active h1,
.nav-link.azul.active span {
    color: var(--azul);
}

/* 🟢 Verde (Usuários) agora a norma é ficar colorido só no .active em admin */
.nav-link.verde:hover h1,
.nav-link.verde:hover span {
    color: var(--verde);
}

.nav-link.verde.active {
    color: var(--preto);
}

.nav-link.verde.active h1,
.nav-link.verde.active span {
    color: var(--verde);
}

/*amarElo (Denúncias) */
.nav-link.amarelo:hover h1,
.nav-link.amarelo:hover span {
    color: var(--amarelo);
}

.nav-link.amarelo.active {
    color: var(--preto);
}

.nav-link.amarelo.active h1,
.nav-link.amarelo.active span {
    color: var(--amarelo);
}

/*  laranjinhaaaaa! Na raça, no peito, do real fasciiiiiii (Suporte) */
.nav-link.rosa:hover h1,
.nav-link.rosa:hover span {
    color: var(--amarelo);
}

.nav-link.rosa.active {
    color: var(--preto);
}

.nav-link.rosa.active h1,
.nav-link.rosa.active span {
    color: var(--amarelo);
}

/* 🔴 Vermelho (Voltar) <-- esse eu não mudarei, mas para de pegar até os emojis do gpt, tá feio já */
.nav-link.vermelho:hover h1,
.nav-link.vermelho:hover span {
    color: var(--vermelho);
}

.nav-link.vermelho.active {
    color: var(--preto);
}

.nav-link.vermelho.active h1,
.nav-link.vermelho.active span {
    color: var(--vermelho);
}

@media (max-width: 1024px) {
    /* Parte tablet grande*/
    .content {
        min-height: 100vh;
        max-width: 25vw;
        width: 17.5vw;
        gap: 0.75rem;
        scroll-behavior: smooth;
        white-space: nowrap; /*impede a quebra de linha*/
        overflow: hidden; /* oculta o q sobrar*/
        text-overflow: ellipsis; /* reticências*/
    }

    .content .admin-topo img {
        width: 80%;
        height: fit-content;
        object-fit: contain;
        padding: 0;
        margin: auto;
    }

    .content .links {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        box-sizing: border-box;
        margin: 0;
        padding: 0 20%;
    }

    /* Base dos links ADM*/
    .content .links .nav-link {
        min-block-size: 2.7rem;
        max-block-size: 3.4rem;
        border-radius: 0;
        gap: 0.5rem;
        padding: 0.5rem;
        text-align: left;
        white-space: nowrap; /*impede a quebra de linha*/
        overflow: hidden; /* oculta o q sobrar*/
        text-overflow: ellipsis; /* reticências*/
        object-fit: contain;
    }

    .content .links .nav-link span,
    .links .nav-link span {
        size: clamp(2.8rem, 1vw + 2.8rem, 3.4rem);
        margin: 0 0.2rem;
        text-align: left;
    }
    .content .links .nav-link h1,
    .links .nav-link h1{
        font-size: clamp(0.4rem, 0.75vw + 0.6rem, 0.9rem);
        margin: 0;
        padding: 0;
        white-space: nowrap; /*impede a quebra de linha*/
        overflow: hidden; /* oculta o q sobrar*/
        text-overflow: ellipsis; /* reticências*/
        text-align: left;
    }
}

@media (max-width: 764px) {
     /* Parte tablet pequeno */
    .admin .container-sidebar .content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        position: fixed;
        left: 0;
        bottom: 0;
        top: 95vh;
        margin: 0;
        padding: 0;
        min-width: 100vw;
        max-height: 5rem;
        min-height: 3.5rem;
        height: fit-content;
        z-index: 1000;
        background-color: brown;
    }

    .admin .admin-topo {
        display: none;
    }

    .admin .links {
        display: inline-flex;
        flex-direction: row-reverse;
    }

    /* Base dos links ADM*/
    .admin .links .nav-link {
        min-block-size: 2rem;
        max-block-size: 2.6rem;
        border-radius: 0;
        padding: 0;
        border: none;
        outline: none;
        object-fit: contain;
    }

    .admin .links .nav-link span,
    .links .nav-link span {
        font-size: 2.8rem;
    }

    .admin .links .nav-link:hover,
    .links .nav-link:hover {
        transform: translate(5px, -3px);
    }

    .admin .links .nav-link:hover .material-symbols-outlined::after,
    .links .nav-link:hover .material-symbols-outlined::after {
        transform: translateY(-3px);
    }

}

@media (max-width: 600px) {
    /* Parte mobile*/
    .admin .container-sidebar .content {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        position: fixed;
        top: 91.5vh;
        margin: auto 0;
        bottom: 0;
        left: 0;
        padding: 0;
        min-width: 100vw;
        max-height: 5rem;
        min-height: 2rem;
        overflow: hidden;
        height: 5rem;
        z-index: 999;
        background-color: var(--branco);
    }

    .admin .admin-topo {
        display: none;
    }

    .admin .content .links {
        max-width: 95vw;
        min-width: 78vw;
        max-height: 11vh;
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        margin: auto;
        z-index: 1000;
        overflow-y: visible;
        padding: 5px;
        gap: 0.2rem;
        background-color: var(--branco);
    }

    .admin .links h1 {
        display: none;
    }

    .admin .links .nav-link {
        min-block-size: 2rem;
        max-block-size: 2.6rem;
        border-radius: 0;
        overflow:visible;
        margin: 0;
        z-index: 1001;
        border: none;
        outline: none;
        object-fit: contain;
    }

    .admin .links .nav-link span,
    .links .nav-link span {
        font-size: 2.2rem;
    }

    .links .nav-link:hover,
    .admin .links .nav-link:hover {
        transform: translate(7.5px, -4px);
    }

    .links .nav-link:hover .material-symbols-outlined::after,
    .admin .links .nav-link:hover .material-symbols-outlined::after {
        transform: translateY(-4px);
    }
}