/* container da sidebar */
.container-sidebar {
    border-right: 1px solid var(--branco-light);
    box-sizing: border-box;
}

.container-sidebar .content {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    width: 290px;
    height: 100vh;
    background-color: var(--branco);
}

/* logo */
.container-sidebar .logo {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.container-sidebar .logo img {
    width: 75px;
    border-radius: 50%;
    padding: .25rem;
    transition: .7s;
    cursor: pointer;
}

.container-sidebar .logo img:hover {
    border: solid 0.5px var(--cor-destaque);
}

/* container de info do usuário ---------------------------------------------------------------*/
.container-sidebar .info {
    display: flex;
    flex-direction: row;
    padding: .5rem 1rem;
    margin-right: 1rem;
    border-radius: 50px / 100%;
    width: 100%;
    position: relative;
    /* necessário pro dropdown */
    cursor: pointer;
    transition: .7s;
}

.container-sidebar .info:hover {
    background-color: var(--cinza-font);
}

/* imagem usuário */
.container-sidebar .info img {
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

/* textos */
.container-sidebar .info .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 0 .5rem;
}

.container-sidebar .info .text h5 {
    font-size: 18px;
    font-weight: bold;
    color: var(--cor-preto);
}

.container-sidebar .info .text h4 {
    font-size: 14px;
    color: var(--cor-fundo);
}

.dropdown-checar-perfil {
    position: absolute;
    top: -120%;
    /* aparece pra cima */
    left: 0;
    background: var(--branco);
    border: .1px solid var(--cinza-font);
    border-radius: 15px;
    padding: .75rem 0;
    list-style: none;
    width: 275px;
    box-shadow: 0 .8rem 1rem 0 rgba(0, 0, 0, 0.7);
}

.dropdown-checar-perfil.hidden {
    display: none;
}

.dropdown-checar-perfil li {
    display: flex;
    transition: .3s;
    padding: 1rem;
}


.dropdown-checar-perfil #li-checar-perfil-siedebar-01:hover {
    background-color: var(--cinza-font);
}

.dropdown-checar-perfil #li-checar-perfil-siedebar-02:hover {
    background-color: var(--cinza-font);
}

.dropdown-checar-perfil li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    width: 100%;
}

.dropdown-checar-perfil li form {
    display: flex;
    width: 100%;
}

.dropdown-checar-perfil li form a {
    width: 100%;
}

/* links -----------------------------------------------------------------------------------*/
.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}

/* estilo individual dos links */
.links .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem 1rem;
    border-radius: 50px / 100%;
    /*color: var(--preto); só no modo claro + monocromático*/
    text-decoration: none;
    text-rendering: optimizeLegibility;
    transition: all 0.3s ease-in-out;
}

/* Colorido para modo normal*/
.links a:nth-of-type(1) {
    color: var(--cor-tema);
    transition: all 0.3s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        /*color: cor-texto ou branco; se monocromático*/
        transform: translateX(7.5px);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
    }

    &.active {
        transform: translateX(7.5px);
        .material-symbols-outlined::after {
            width: 100%;
        }
    }
}

.links a:nth-of-type(2) {
    color: var(--vermelho);
    transition: all 0.3s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2.5px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        transform: translateX(7.5px);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
    }

    &.active {
        transform: translateX(7.5px);
        .material-symbols-outlined::after {
            width: 100%;
        }
    }
}

.links a:nth-of-type(3) {
    color: var(--verde);
    transition: all 0.3s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        transform: translateX(7.5px);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
    }

    &.active {
        transform: translateX(7.5px);
        .material-symbols-outlined::after {
            width: 100%;
        }
    }
}

.links a:nth-of-type(4) {
    color: var(--amarelo-apagado);
    transition: all 0.4s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2.5px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        transform: translateX(7.5px);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
    }

    &.active {
        transform: translateX(7.5px);
        .material-symbols-outlined::after {
            width: 100%;
        }
    }
}

.links a:nth-of-type(5) {
    color: var(--roxo);
    transition: all 0.4s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2.3px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }
    
    &:hover {
        transform: translateX(7.5px);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
        transition: 0.05s;
    }

    &.active {
        transform: translateX(7.5px);
        .material-symbols-outlined::after {
            width: 100%;
        }
    }
}

.links a:nth-of-type(6) {
    color: var(--cor-preto);
    transition: all 0.4s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        transform: translateX(7.5px);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
    }
}


.links .nav-link h1 {
    font-size: 16px;
}

/* icons */
.links .nav-link h1 {
    font-size: 20px;
    padding-left: 1.5rem;
    font-weight: 400;
}

.links .nav-link span {
    font-size: 2rem;
}

/* active ----------------------------------
.links .active h1,
.links .active span {
    color: var(--azul);
}*/

/* Post Button --------------------------------------------------------- */
.post-button {
    display: flex;
    align-items: flex-start;
    width: 50%;
    padding: 0px;
    margin: 0px;
}

.post-button button {
    color: var(--cor-tema);
    font-size: 1.25rem;
    font-weight: 600;
    padding-left: 1rem;
    border: none;
    outline: none;
    border-radius: 50px / 100%;
    cursor: pointer;
    transition: .3s;
}

.post-button button:hover {
    color: var(--cor-tema);
    text-decoration: underline var(--cor-tema);
}

/* Parte Admin -----------------------------------------------------------------------+*/
.admin .content {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0 2rem 0;
    width: 290px;
    height: 100vh;
    padding: 1rem 0rem 1rem 0;
    background-color: var(--cor-fundo);
}

/* Topo Texto --*/
.admin .texto-superior {
    width: 100%;
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.admin .texto-superior h1 {
    font-size: 22px;
    text-align: left;
    letter-spacing: 1.5px;
    font-weight: 400;
    color: var(--branco-light);
}

/* Topo Admin --*/
.admin .admin-topo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.admin .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .1rem;
}

.admin .admin-topo h1 {
    font-size: 16px;
    color: var(--branco);
}

.admin .admin-topo h2 {
    font-size: 14px;
    color: var(--azul);
}

/* links --*/
/* estilo individual dos links */
.admin .links .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8rem 2.5rem;
    border-radius: 50px / 100%;
    color: var(--branco);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.admin .links a:nth-of-type(1) {
    color: var(--cor-tema);
    transition: all 0.3s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        transform: translateX(7.5px);
        color: var(--azul);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
    }

    &.active {
        transform: translateX(7.5px);
        .material-symbols-outlined::after {
            width: 100%;
        }
    }
}

.admin .links a:nth-of-type(2) {
    color: var(--verde);
    transition: all 0.4s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2.5px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        transform: translateX(7.5px);
        color: var(--verde-apagado);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
    }

    &.active {
        transform: translateX(7.5px);
        .material-symbols-outlined::after {
            width: 100%;
        }
    }
}

.admin .links a:nth-of-type(3) {
    color: var(--rosa);
    transition: all 0.4s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2.3px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }
    
    &:hover {
        transform: translateX(7.5px);
        color: var(--rosa-apagado);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
        transition: 0.05s;
    }

    &.active {
        transform: translateX(7.5px);
        .material-symbols-outlined::after {
            width: 100%;
        }
    }
}

.admin .links a:nth-of-type(4) {
    color: var(--amarelo);
    transition: all 0.4s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        transform: translateX(7.5px);
        color: var(--amarelo-apagado);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
    }

    &.active {
        transform: translateX(7.5px);
        .material-symbols-outlined::after {
            width: 100%;
        }
    }
}

.admin .links a:nth-of-type(5) {
    color: var(--cor-vermelho);
    transition: all 0.4s ease-in-out;

    .material-symbols-outlined {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0;
            height: 2px;
            background-color: currentColor;
            transition: width 0.4s ease-in-out;
        }
    }

    &:hover {
        transform: translateX(7.5px);
        color: var(--vermelho-apagado);
        text-rendering: optimizeLegibility;

        .material-symbols-outlined::after {
            width: 100%;
        }
    }

    &:active {
        opacity: 80%;
    }
}

.admin .links .nav-link h1 {
    font-size: 16px;
}

/* hover e ativo */
.admin .links .nav-link:hover {
    transform: translateX(5px);
    background-color: var(--cor-fundo);
    color: var(--azul-apagado);
}

.admin .links .active {
    color: var(--azul);
    transform: translateX(5px);

}